@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_auth.cshtml";
    ViewData["Title"] = "Forgot Password";
}


<header class="sp-header">
    @*<div class="sp-logo-wrap pull-left">
        <a href="index.html">
            <img class="brand-img mr-10" src="~/img/logo.png" alt="brand" />
            <span class="brand-text"><img src="~/img/brand.png" alt="brand" /></span>
        </a>
    </div>*@
    @*<div class="form-group mb-0 pull-right">
            <span class="inline-block pr-10">Don't have an account?</span>
            <a class="inline-block btn btn-orange btn-rounded " asp-controller="Auth" asp-action="Register">Sign Up</a>
        </div>*@
    <div class="clearfix"></div>
</header>



<!-- Main Content -->
<div class="page-wrapper pa-0 ma-0 auth-page" style="background-image:url(../img/17580.jpg);">
    <div class="container">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30" style="background:none !important">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="sp-logo-wrap" style="text-align:center">
                                <a href="#">
                                    <img class="brand-img mr-10" src="../img/logo.png" alt="brand" />
                                    <span class="brand-text"><img src="../img/brand.png" alt="brand" style="width:300px;" /></span>
                                </a>
                            </div>
                            <div class="mb-10 mt-10">
                                @*<h3 class="text-center txt-dark mb-10">Need help with your password?</h3>*@
                                <h6 class="text-center txt-grey nonecase-font">Enter the email you use for VCS, and we’ll help you create a new password.</h6>
                            </div>

                            @if ((TempData["Message"] != null))
                            {
                                <br />
                                <div class="alert alert-danger alert-dismissible" id="ErrMsg" style="display: none;">
                                    <div class="alert-text">@TempData["Message"]</div>

                                </div>
                            }
                            <br />
                            <div class="form-wrap">
                                @* <div asp-validation-summary="All" class="text-danger"></div> *@

                                <form method="post" asp-action="ForgotPassword">
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
                                        <input type="email" asp-for="Email" class="form-control" required="" id="exampleInputEmail_2" placeholder="Enter email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>



                                    <div class="form-group text-center">
                                        <a asp-action="Index" asp-controller="Auth" class="btn btn-danger">Back To Login</a>
                                        <button type="submit" class="btn btn-orange">Reset Password</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

</div>
<!-- /Main Content -->

 @section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script>
        if (("@TempData["Message"]" != null))
        {
            $("#ErrMsg").fadeTo(5000, 500).slideUp(500, function () {
                    $("#ErrMsg").slideUp(5000);
                });

        }
    </script>
 }