﻿@model LoginViewModel


@{
    Layout = "~/Views/Shared/_Layout_auth.cshtml";
    ViewData["Title"] = "Sign In";
}


<header class="sp-header">
    <div class="sp-logo-wrap" style="text-align:center">
        @*<a href="#">
            <img class="brand-img mr-10" src="../img/logo.png" alt="brand"/>
            <span class="brand-text"><img src="../img/brand.png" alt="brand"  style="width:300px;" /></span>
        </a>*@
    </div>
    @*<div class="form-group mb-0 pull-right">
            <span class="inline-block pr-10">Don't have an account?</span>
            <a class="inline-block btn btn-orange btn-rounded " asp-controller="Auth" asp-action="Register">Sign Up</a>
        </div>*@
    <div class="clearfix"></div>
</header>


<!-- Main Content -->
<div class="page-wrapper pa-0 ma-0 auth-page" style="background-image:url(../img/17580.jpg); ">
    <div class="container">
        <!-- Row -->
        <div class="table-struct full-width full-height">
            <div class="table-cell vertical-align-middle auth-form-wrap">
                <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30" style="background:none !important">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="sp-logo-wrap" style="text-align:center">
                                <a href="#">
                                    <img class="brand-img mr-10" src="../img/logo.png" alt="brand" />
                                    <span class="brand-text"><img src="../img/brand.png" alt="brand" style="width:200px;" /></span>
                                </a>
                            </div>
                            @if ((TempData["Message"] != null))
                            {
                                <br />
                                <div class="alert alert-success alert-dismissible" id="ErrMsg" style="display: none;">
                                    <div class="alert-text">@TempData["Message"]</div>

                                </div>
                            }
                            <br />
                            <div class="form-wrap">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <form method="post" class="ml-30" asp-action="Index" asp-controller="Auth">
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
                                        <input type="email" asp-for="Email" class="form-control" required="" id="exampleInputEmail_2" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
                                        <a class="capitalize-font txt-orange block mb-10 pull-right font-12" asp-action="ForgotPassword">forgot password ?</a>
                                        <div class="clearfix"></div>
                                        <input type="password" asp-for="Password" class="form-control" required="" id="exampleInputpwd_2" placeholder="Enter password">
                                    </div>

                                    @*<div class="form-group">
                    <div class="checkbox checkbox-primary pr-10 pull-left">
                        <input id="checkbox_2" required="" type="checkbox">
                        <label for="checkbox_2"> Keep me logged in</label>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-orange ml-10">sign in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>

</div>
<!-- /Main Content -->


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        if (("@TempData["Message"]" != null))
        {
            $("#ErrMsg").fadeTo(5000, 500).slideUp(500, function () {
                    $("#ErrMsg").slideUp(5000);
                });

        }
    </script>
   
 }
 