﻿@using Microsoft.Extensions.Options
@model PMS.Models.Tender
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add Commercial Document";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add Commercial Documents - Tender</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="UploadCommercialFiles" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input hidden name="TenderID" value="@ViewBag.TenderID" />
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label mb-10">File Details</label>

                                    <input required type="text" name="fileName" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label mb-10">File Uploader</label>

                                    <div class="fileupload btn btn-warning btn-anim btn-block">
                                        <i class="fa fa-upload"></i><span class="btn-text">Browse file</span>
                                        <input type="file" class="upload" name="doc" accept=".pdf" />
                                    </div>
                                    <em style="font-style:italic">(allowed file types - pdf | maximum file size - 50MB)</em>

                                </div>

                                @*<div class="col-md-3">
            <div class="form-group">
                <label class="control-label mb-10">Criteria</label>
                &nbsp;&nbsp;<span asp-validation-for="Criteria" class="text-danger"></span>
                <textarea rows="2" id="Criteria" name="Criteria" type="text" class="form-control" placeholder="Enter Criteria"></textarea>

            </div>
        </div>



        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label mb-10">Weightage Marks</label>
                &nbsp;&nbsp;<span asp-validation-for="WeightageMarks" class="text-danger"></span>
                <input id="WeightageMarks" asp-for="WeightageMarks" name="WeightageMarks" type="text" class="form-control" placeholder="Enter Weightage Marks">

            </div>
        </div>




        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label mb-10">VCS Score</label>
                &nbsp;&nbsp;<span asp-validation-for="VCSScore" class="text-danger"></span>
                <input id="VCSScore" asp-for="VCSScore" name="VCSScore" type="text" class="form-control" placeholder="Enter VCS Score">

            </div>
        </div>*@
                            </div>
       


                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Save</button>

                                <a asp-controller="Admin" asp-action="Tenders" class="btn btn-danger pull-left">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            //endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {
       
                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var CriteriaCategory = document.getElementById("CriteriaCategory").value;
                var Criteria = document.getElementById("Criteria").value;
                var WeightageMarks = document.getElementById("WeightageMarks").value;
                var VCSScore = document.getElementById("VCSScore").value;
                var Satisfied = document.getElementById("Satisfied").value;
                var Remark = document.getElementById("ERemark").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (CriteriaCategory != "" && Criteria != "" && WeightageMarks != "" && VCSScore != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';
     
                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='CriteriaCategory[]' value='" + CriteriaCategory + "'>" + CriteriaCategory + "</td>";
                        eTable += "<td><input type='hidden' name='Criteria[]' value='" + Criteria + "'>" + Criteria + "</td>";
                        eTable += "<td><input type='hidden' name='WeightageMarks[]' value='" + WeightageMarks + "'>" + WeightageMarks + "</td>";
                        eTable += "<td><input type='hidden' name='VCSScore[]' value='" + VCSScore + "'>" + VCSScore + "</td>";
                        eTable += "<td><input type='hidden' name='Satisfied[]' value='" + Satisfied + "'>" + Satisfied + "</td>";
                        eTable += "<td><input type='hidden' name='Remark[]' value='" + Remark + "'>" + Remark + "</td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });



    

    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}