﻿@using Microsoft.Extensions.Options
@model PMS.Models.DMC
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add New Entry - DMC";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add New Entry - Hotel</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="AddDMCDetails" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Company Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CompanyName" class="text-danger"></span>
                                    <input id="Name" asp-for="CompanyName" name="CompanyName" type="text" class="form-control" placeholder="Enter Company Name">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Group Of</label>
                                    &nbsp;&nbsp;<span asp-validation-for="GroupOf" class="text-danger"></span>
                                    <input id="GroupOf" asp-for="GroupOf" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf">

                                </div>
                            </div>
                            <div class="col-md-4 cname" >
                                <div class="form-group">
                                    <label class="control-label mb-10">Sector Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="SectorName">
                                        <option value="null" disabled Selected>---Select Sector---</option>
                                        <option value="Domestic">Domestic</option>
                                        <option value="International">International</option>

                                    </select>
                                </div>
                            </div>

                          

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Specific Speciality In Sector</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SpecificSp" class="text-danger"></span>
                                    <input id="SpecificSp" asp-for="SpecificSp" name="SpecificSp" type="text" class="form-control" placeholder="Enter SpecificSp">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Service Providing In</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ServiceIn" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="ServiceIn">
                                        <option value="null" disabled Selected>---Select Service In Category---</option>
                                        <option value="Complete Package">Complete Package</option>
                                        <option value="Only Hotels">Only Hotels</option>
                                        <option value="Sight Seen Tickets">Sight Seen Tickets</option>
                                        <option value="Vehicles">Vehicles</option>
                                        <option value="Cruise">Cruise</option>
                                        <option value="Five Star Resort">Five Star Resort</option>
                                        <option value="Euro Star Forex">Euro Star Forex</option>
                                        <option value="Overseas Insurance">Overseas Insurance</option>
                                        <option value="MICE">MICE</option>
                                        <option value="Visa Assistance">Visa Assistance</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Contact Details</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Type</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactType" class="text-danger"></span>
                                    <input id="ContactType" asp-for="ContactType" name="ContactType" type="text" class="form-control" placeholder="Enter Contact Type">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactName" class="text-danger"></span>
                                    <input id="ContactName" asp-for="ContactName" name="ContactName" type="text" class="form-control" placeholder="Enter Contact Name">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Designation</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactDesignation" class="text-danger"></span>
                                    <input id="ContactDesignation" asp-for="ContactDesignation" name="ContactDesignation" type="text" class="form-control" placeholder="Enter Contact Designation">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Mobile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactMobile" class="text-danger"></span>
                                    <input id="ContactMobile" asp-for="ContactMobile" name="ContactMobile" type="text" class="form-control" placeholder="Enter Contact Mobile Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Office Land Line</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactLandLine" class="text-danger"></span>
                                    <input id="ContactLandLine" asp-for="ContactLandLine" name="ContactLandLine" type="text" class="form-control" placeholder="Enter Contact Landline Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Mail ID</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactMail" class="text-danger"></span>
                                    <input id="ContactMail" asp-for="ContactMail" name="ContactMail" type="text" class="form-control" placeholder="Enter Contact Mail ">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Personal Mobile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactPerMob" class="text-danger"></span>
                                    <input id="ContactPerMob" asp-for="ContactPerMob" name="ContactPerMob" type="text" class="form-control" placeholder="Enter Contact Personal Mobile ">

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Work Profile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactWorkProfile" class="text-danger"></span>
                                    <input id="ContactWorkProfile" asp-for="ContactWorkProfile" name="ContactWorkProfile" type="text" class="form-control" placeholder="Enter Contact Work Profile ">

                                </div>
                            </div>




                            <div class="col-md-12">
                                <button id="add-more" type="button" class="btn btn-primary pull-right">Add More</button>
                            </div>





                            <div class="col-md-12" id="add_more_table" style="display: none;">
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <button class="btn btn-danger btn-sm rounded-0 delete-row" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </th>
                                            <th scope="col">Contact Type</th>

                                            <th scope="col">Contact Name</th>
                                            <th scope="col">Contact Designation</th>
                                            <th scope="col">Contact Mobile</th>
                                            <th scope="col">Contact Office Land Line</th>
                                            <th scope="col">Contact Mail ID</th>
                                            <th scope="col">Contact Personal Mobile</th>
                                            <th scope="col">Contact Work Profile</th>

                                        </tr>
                                    </thead>
                                    <tbody class="note">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Emergency Contact</label>
                                    &nbsp;&nbsp;<span asp-validation-for="EmergencyContact" class="text-danger"></span>
                                    <input id="EmergencyContact" asp-for="EmergencyContact" name="EmergencyContact" type="text" class="form-control" placeholder="Enter EmergencyContact">

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Company Establish From</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CompanyFrom" class="text-danger"></span>
                                    <input id="CompanyFrom" asp-for="CompanyFrom" name="CompanyFrom" type="number" class="form-control" placeholder="Enter Established From ">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Own Fleets</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CategoryName" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="OwnFleets">
                                        <option value="null" disabled Selected>---Select ---</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>


                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Reference</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ReferenceName" class="text-danger"></span>
                                    <input id="ReferenceName" asp-for="ReferenceName" name="ReferenceName" type="text" class="form-control" placeholder="Enter Reference">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Accrediation</label>
                                    &nbsp;&nbsp;<span asp-validation-for="AccrediationName" class="text-danger"></span>
                                    <input id="AccrediationName" asp-for="AccrediationName" name="AccrediationName" type="text" class="form-control" placeholder="Enter Accrediation Name">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        Account Details
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Bank Name</label>
                                    <input asp-for="BankName" id="BankName" type="text" class="form-control" placeholder="Enter Bank Name">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Account No</label>
                                    <input id="AccountNo" asp-for="AccountNo" type="text" step="any" class="form-control" placeholder="Enter Account No">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">IFSC Code</label>
                                    <input id="IFSC" asp-for="IFSC" type="text" step="any" class="form-control" placeholder="Enter IFSC">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Branch</label>
                                    <input id="Branch" asp-for="Branch" type="text" step="any" class="form-control" placeholder="Enter Branch">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <button id="add-more2" type="button" class="btn btn-primary pull-right">Add More</button>
                            </div>



                            <div class="col-md-12" id="add_more_table2" style="display: none;">
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <button class="btn btn-danger btn-sm rounded-0 delete-row2" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Account No</th>
                                            <th scope="col">IFSC</th>
                                            <th scope="col">Branch</th>
                                        </tr>
                                    </thead>
                                    <tbody class="note2">
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Office Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address1" class="text-danger"></span>
                                    <input id="Address1" asp-for="Address1" name="Address1" type="text" class="form-control">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Out Of India Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address2" class="text-danger"></span>
                                    <input id="Address2" asp-for="Address2" name="Address2" type="text" class="form-control">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Grade</label>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Grade">
                                        <option value="null" disabled Selected>---Select---</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>

                                    </select>
                                </div>
                            </div>







                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Save</button>
                                <a asp-controller="Admin" asp-action="DMC" class="btn btn-danger pull-left">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {

                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var ContactType = document.getElementById("ContactType").value;
                var ContactName = document.getElementById("ContactName").value;
                var ContactDesignation = document.getElementById("ContactDesignation").value;
                var ContactMobile = document.getElementById("ContactMobile").value;
                var ContactMail = document.getElementById("ContactMail").value;

                var ContactLandLine = document.getElementById("ContactLandLine").value;
                var ContactPerMob = document.getElementById("ContactPerMob").value;
                var ContactWorkProfile = document.getElementById("ContactWorkProfile").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (ContactType != "" && ContactName != "" && ContactMobile != "" && ContactDesignation != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='ContactType[]' value='" + ContactType + "'>" + ContactType + "</td>";
                        eTable += "<td><input type='hidden' name='ContactName[]' value='" + ContactName + "'>" + ContactName + "</td>";
                        eTable += "<td><input type='hidden' name='ContactDesignation[]' value='" + ContactDesignation + "'>" + ContactDesignation + "</td>";
                        eTable += "<td><input type='hidden' name='ContactMobile[]' value='" + ContactMobile + "'>" + ContactMobile + "</td>";
                        eTable += "<td><input type='hidden' name='ContactLandLine[]' value='" + ContactLandLine + "'>" + ContactLandLine + "</td>";
                        eTable += "<td><input type='hidden' name='ContactMail[]' value='" + ContactMail + "'>" + ContactMail + "</td>";

                        eTable += "<td><input type='hidden' name='ContactPerMob[]' value='" + ContactPerMob + "'>" + ContactPerMob + "</td>";
                        eTable += "<td><input type='hidden' name='ContactWorkProfile[]' value='" + ContactWorkProfile + "'>" + ContactWorkProfile + "</td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more2").click(function () {

                var BankName = document.getElementById("BankName").value;
                var AccountNo = document.getElementById("AccountNo").value;
                var IFSC = document.getElementById("IFSC").value;
                var Branch = document.getElementById("Branch").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (BankName != "" && AccountNo != "" && IFSC != "" && Branch != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='BankName[]' value='" + BankName + "'>" + BankName + "</td>";
                        eTable += "<td><input type='hidden' name='AccountNo[]' value='" + AccountNo + "'>" + AccountNo + "</td>";
                        eTable += "<td><input type='hidden' name='IFSC[]' value='" + IFSC + "'>" + IFSC + "</td>";
                        eTable += "<td><input type='hidden' name='Branch[]' value='" + Branch + "'>" + Branch + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });




            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });





    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}