﻿@using Microsoft.Extensions.Options
@model Employee
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add New User";
}

@{
    var Roles = ViewBag.Roles;

}


<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add New User</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <form method="post" asp-action="RegisterEmployee" asp-controller="Admin">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">First Name :</label>
                                        <input asp-for="FirstName" class="form-control" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Last Name :</label>
                                        <input asp-for="LastName" class="form-control" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Email :</label>
                                        <input asp-for="Email" type="email" class="form-control" required>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Phone Number :</label>
                                        <input asp-for="PhoneNumber" type="number" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">

                                        <label class="control-label mb-10" for="email_de">Department :</label>
                                        <select name=Role class="form-control" required id="RoleList">
                                            <option value="" disabled selected>Select Department</option>
                                            @for (var i = 0; i < @Roles.Count; i++)
                                            {
                                                <option value="@Roles[i].FirstName">@Roles[i].FirstName</option>

                                            }

                                        </select>
                                    </div>
                                    <div class="col-md-3 typeDIV">

                                        <label class="control-label mb-10" for="email_de">Type :</label>
                                        <select name=Type class="form-control"  id="TypeList">
                                            <option value="" disabled selected>Select One</option>

                                            <option value="User">User</option>
                                            <option value="Manager">Manager</option>

                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <strong><span class="text-center mt-20" style="display:block; color:black;"><u>Main Menu Access</u></span></strong>
                            </div>
                            <div class="col-md-12" id="add_more_table">
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>


                                            <th scope="col"><strong>MODULE</strong></th>


                                            <th scope="col"><strong>Read / Write Access</strong></th>

                                            @*<th scope="col">Write Access</th>*@

                                        </tr>
                                    </thead>
                                    <tbody class="note">

                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Tenders" /></td>

                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Tenders" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td><input class="form-control" readonly name="txt_note[]" value="Users" /></td>

                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Users" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td><input class="form-control" readonly name="txt_note[]" value="Project File Archive" /></td>

                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="ProjectFile" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td><input class="form-control" readonly name="txt_note[]" value="Departments" /></td>

                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Departments" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="col-md-12">
                                                    <strong><span class="text-center mt-20" style="display:block"><u>Tab Access</u></span></strong>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="font-size: 12px; color: #272B34;">


                                            <th scope="col"><strong>TABS</strong></th>


                                            <th scope="col"><strong>READ / WRITE ACCESS</strong></th>

                                        </tr>
                                        <tr>

                                            <td><input class="form-control" readonly name="txt_note[]" value="Basic Information" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>



                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="BEC" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Evaluation" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Project Docs" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Other Information" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="SWOT" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Synopsis" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="SOR" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access">
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Management Approved SOR" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access">
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Commercial Docs" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Checklist" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Queries" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>


                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Post Bid Queries" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        @*<tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Post Bid Docs" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>*@
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="User Access" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Communication" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Meeting" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><input class="form-control" readonly name="txt_note[]" value="Post Award Analysis" /></td>
                                            <td>
                                                <select name="txt_note2[]" class="form-control" id="Access" required>
                                                    <option value="" disabled selected>Select One</option>

                                                    <option value="Read">Read</option>
                                                    <option value="Write">Write</option>
                                                    <option value="Denied">Denied</option>

                                                </select>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="form-group mb-0 mt-5">
                                <button type="submit" class="btn btn-success pull-right">Save</button>
                                <a asp-controller="Admin" asp-action="Employee" class="btn btn-danger pull-left">Cancel</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Row -->

@section Scripts{ 
    <script>
        $(document).ready(function () {

            $("#RoleList").on('change', function () {
                var RoleListText = $("#RoleList option:selected").text();
                if (RoleListText == "Admin" || RoleListText == "Management") {
                    $("#TypeList").val("Management");
                    $(".typeDIV").hide();

                } else {
                    $("#TypeList").val("");

                    $(".typeDIV").show();

                }

            });


            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Welcome to Admintres',
                        text: 'Use the predefined ones, or specify a custom position object.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }
       });
    </script>

}