﻿@using Microsoft.Extensions.Options
@model PMS.Models.Hotels
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add New Entry - Hotel";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add New Entry - Hotel</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="AddHotelDetails" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Hotel Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="Name" asp-for="Name" name="Name" type="text" class="form-control" placeholder="Enter Hotel Name">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Group Of</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="GroupOf" asp-for="GroupOf" name="GroupOf" type="text" class="form-control" placeholder="Enter GroupOf">

                                </div>
                            </div>
                            <div class="col-md-4 cname" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label mb-10">Sector Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="SectorName">
                                        <option value="null" disabled Selected>---Select Sector---</option>
                                        <option value="Domestic">Domestic</option>
                                        <option value="International">International</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="Address1" asp-for="Address1" name="Address1" type="text" class="form-control" placeholder="Enter Location Address">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Town Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address1T" class="text-danger"></span>
                                    <input id="Address1T" asp-for="Address1T" name="Address1T" type="text" class="form-control" placeholder="Enter Location Town Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Country Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <input id="Address1C" asp-for="Address1C" name="Address1C" type="text" class="form-control" placeholder="Enter Location Country Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Address</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address2" class="text-danger"></span>
                                    <input id="Address2" asp-for="Address2" name="Address2" type="text" class="form-control" placeholder="Enter Corporate Address">

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Town Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Address2" class="text-danger"></span>
                                    <input id="Address2T" asp-for="Address2T" name="Address2T" type="text" class="form-control" placeholder="Enter Corporate Town Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Corporate Country Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <input id="Address2C" asp-for="Address2C" name="Address2C" type="text" class="form-control" placeholder="Enter Corporate Country Name">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Star Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Star" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Star">
                                        <option value="null" disabled Selected>---Select Star Category---</option>
                                        <option value="One">One</option>
                                        <option value="Two">Two</option>
                                        <option value="Three">Three</option>
                                        <option value="Four">Four</option>
                                        <option value="Five">Five</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Hotel Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Star" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="HotelCat">
                                        <option value="null" disabled Selected>---Select Hotel Category---</option>
                                        <option value="Business">Business</option>
                                        <option value="Leisure">Leisure</option>


                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Contact Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactName" class="text-danger"></span>
                                    <input id="ContactName" asp-for="ContactName" name="ContactName" type="text" class="form-control" placeholder="Enter Contact Name">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Designation</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactDesignation" class="text-danger"></span>
                                    <input id="ContactDesignation" asp-for="ContactDesignation" name="ContactDesignation" type="text" class="form-control" placeholder="Enter Contact Designation">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Mobile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactMobile" class="text-danger"></span>
                                    <input id="ContactMobile" asp-for="ContactMobile" name="ContactMobile" type="text" class="form-control" placeholder="Enter Contact Mobile Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Office Land Line</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactLandLine" class="text-danger"></span>
                                    <input id="ContactLandLine" asp-for="ContactLandLine" name="ContactLandLine" type="text" class="form-control" placeholder="Enter Contact Landline Name">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Mail ID</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactMail" class="text-danger"></span>
                                    <input id="ContactMail" asp-for="ContactMail" name="ContactMail" type="text" class="form-control" placeholder="Enter Contact Mail ">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Personal Mobile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactPerMob" class="text-danger"></span>
                                    <input id="ContactPerMob" asp-for="ContactPerMob" name="ContactPerMob" type="text" class="form-control" placeholder="Enter Contact Personal Mobile ">

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Contact Work Profile</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ContactWorkProfile" class="text-danger"></span>
                                    <input id="ContactWorkProfile" asp-for="ContactWorkProfile" name="ContactWorkProfile" type="text" class="form-control" placeholder="Enter Contact Work Profile ">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Reservation Desk Contact</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ReservationContact" class="text-danger"></span>
                                    <input id="ReservationContact" asp-for="ReservationContact" name="ReservationContact" type="text" class="form-control" placeholder="Enter Reservation Contact ">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Meal Plan Provides</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Meal" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Meal">
                                        <option value="null" disabled Selected>---Select Meal Category---</option>
                                        <option value="EP">EP</option>
                                        <option value="CP">CP</option>
                                        <option value="MAP">MAP</option>
                                        <option value="AP">AP</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Four Person Allowed In Room?</label>
                                    &nbsp;&nbsp;
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="IsFour">
                                        <option value="null" disabled Selected>---Select---</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Company Establish From</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CompanyFrom" class="text-danger"></span>
                                    <input id="CompanyFrom" asp-for="CompanyFrom" name="CompanyFrom" type="number" class="form-control" placeholder="Enter Established From ">

                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CategoryName" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Category">
                                        <option value="null" disabled Selected>---Select Category---</option>
                                        <option value="Beach">Beach</option>
                                        <option value="Hill Station">Hill Station</option>
                                        <option value="Wild Life">Wild Life</option>
                                        <option value="Pilligrim">Pilligrim</option>
                                        <option value="Desert">Desert</option>
                                        <option value="City">City</option>
                                        <option value="Amusement">Amusement</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Reference</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ReferenceName" class="text-danger"></span>
                                    <input id="ReferenceName" asp-for="ReferenceName" name="ReferenceName" type="text" class="form-control" placeholder="Enter Reference">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Accrediation</label>
                                    &nbsp;&nbsp;<span asp-validation-for="AccrediationName" class="text-danger"></span>
                                    <input id="AccrediationName" asp-for="AccrediationName" name="AccrediationName" type="text" class="form-control" placeholder="Enter Accrediation Name">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        Account Details
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Bank Name</label>
                                    <input asp-for="BankName" id="BankName" type="text" class="form-control" placeholder="Enter Bank Name">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Account No</label>
                                    <input id="AccountNo" asp-for="AccountNo" type="text" step="any" class="form-control" placeholder="Enter Account No">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">IFSC Code</label>
                                    <input id="IFSC" asp-for="IFSC" type="text" step="any" class="form-control" placeholder="Enter IFSC">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Branch</label>
                                    <input id="Branch" asp-for="Branch" type="text" step="any" class="form-control" placeholder="Enter Branch">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <button id="add-more" type="button" class="btn btn-primary pull-right">Add More</button>
                            </div>



                            <div class="col-md-12" id="add_more_table" style="display: none;">
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <button class="btn btn-danger btn-sm rounded-0 delete-row" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Account No</th>
                                            <th scope="col">IFSC</th>
                                            <th scope="col">Branch</th>
                                        </tr>
                                    </thead>
                                    <tbody class="note">
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5></h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Own Visit</label>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="OwnVisit">
                                        <option value="null" disabled Selected>---Select---</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Room Types</label>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="RoomTypes">
                                        <option value="null" disabled Selected>---Select---</option>
                                        <option value="Standard">Standard</option>
                                        <option value="Deluxe">Deluxe</option>
                                        <option value="Deluxe">Super Deluxe</option>
                                        <option value="Deluxe">Semi Suite</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Grade</label>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Grade">
                                        <option value="null" disabled Selected>---Select---</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Tariff PDF</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CompanyFrom" class="text-danger"></span>
                                    <input id="Tarrif" asp-for="Tarrif" name="Tarrif" type="file" class="form-control">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Extra Adult Charges</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ExtraAdultCharges" class="text-danger"></span>
                                    <input id="ExtraAdultCharges" asp-for="ExtraAdultCharges" name="ExtraAdultCharges" step="any" type="number" class="form-control">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Extra Child Charges (5-11) </label>
                                    &nbsp;&nbsp;<span asp-validation-for="ExtraChildCharges" class="text-danger"></span>
                                    <input id="ExtraChildCharges" asp-for="ExtraChildCharges" name="ExtraChildCharges" step="any" type="number" class="form-control">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Extra Meal Charges</label>
                                    &nbsp;&nbsp;<span asp-validation-for="ExtraMealCharges" class="text-danger"></span>
                                    <input id="ExtraMealCharges" asp-for="ExtraMealCharges" name="ExtraMealCharges" step="any" type="number" class="form-control">

                                </div>
                            </div>





                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Save</button>
                                <a asp-controller="Admin" asp-action="InvoiceDetails" class="btn btn-danger pull-left">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {
       
                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var BankName = document.getElementById("BankName").value;
                var AccountNo = document.getElementById("AccountNo").value;
                var IFSC = document.getElementById("IFSC").value;
                var Branch = document.getElementById("Branch").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (BankName != "" && AccountNo != "" && IFSC != "" && Branch != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';
     
                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='BankName[]' value='" + BankName + "'>" + BankName + "</td>";
                        eTable += "<td><input type='hidden' name='AccountNo[]' value='" + AccountNo + "'>" + AccountNo + "</td>";
                        eTable += "<td><input type='hidden' name='IFSC[]' value='" + IFSC + "'>" + IFSC + "</td>";
                        eTable += "<td><input type='hidden' name='Branch[]' value='" + Branch + "'>" + Branch + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });



            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });



    

    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}