﻿@using Microsoft.Extensions.Options
@model Employee
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add New Department";
}

@{
    var Roles = ViewBag.Roles;

}


<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add New Department</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <form method="post" asp-action="RegisterRole" asp-controller="Admin">
                            <div class="form-group">
                                <label class="control-label mb-10" for="email_de"> Name :</label>
                                <input asp-for="FirstName" class="form-control" required>
                            </div>
                     
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success pull-right">Save</button>
                                <a asp-controller="Admin" asp-action="Roles" class="btn btn-danger pull-left">Cancel</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Row -->

@section Scripts{ 
    <script>
        $(document).ready(function () {

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Welcome to Admintres',
                        text: 'Use the predefined ones, or specify a custom position object.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }
       });
    </script>

}