﻿@using Microsoft.Extensions.Options
@model PMS.Models.Tender
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add Tender";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add New Entry - Tender</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="AddTenderDetails" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Tender No</label>
                                        &nbsp;&nbsp;<span asp-validation-for="TenderNo" class="text-danger"></span>
                                        <textarea id="TenderNo" required rows="3"  asp-for="TenderNo" name="TenderNo" type="text" class="form-control" placeholder="Enter Tender No"></textarea>

                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Client Name</label>
                                        &nbsp;&nbsp;<span asp-validation-for="ClientName" class="text-danger"></span>
                                        <textarea id="ClientName" required rows="3" asp-for="ClientName" name="ClientName" type="text" class="form-control" placeholder="Enter Client Name"></textarea>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Tender Name</label>
                                        &nbsp;&nbsp;<span asp-validation-for="TenderName" class="text-danger"></span>
                                        <textarea id="TenderName" required rows="3" asp-for="TenderName" name="TenderName" type="text" class="form-control" placeholder="Enter Tender Name"></textarea>

                                    </div>
                                </div>

                         

                            </div>

                            <div class="row">

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Scope of Work</label>
                                        &nbsp;&nbsp;<span asp-validation-for="ScopeOfWork" class="text-danger"></span>
                                        <textarea id="ScopeOfWork" required rows="5" asp-for="ScopeOfWork" name="ScopeOfWork" type="text" class="form-control" placeholder="Enter Scope of Work"></textarea>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Tender Region (Work Location)</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Region" class="text-danger"></span>
                                        <textarea id="Region" required rows="5" asp-for="Region" name="Region" type="text" class="form-control" placeholder="Enter Region"></textarea>

                                    </div>
                                </div>
                            </div>
                            <hr />


                            <div class="row">


                                @{ var Priority = ViewBag.Priority;}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Priority</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Priority" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Priority" id="PriorityList">
                                            <option value="null" disabled Selected>---Select Priority---</option>

                                            @for (var i = 0; i < Priority.Count; i++)
                                            {

                                                <option value="@Priority[i].Id">@Priority[i].Name</option>

                                            }



                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="w3-panel w3-light-grey w3-border w3-round">
                                        <p id="pinfo" class="mt-40" style="font-weight:700; font-size:15px;">

                                        </p>
                                    </div>
                                </div>

                            </div>
                            <hr />
                            <div class="row">





                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Tender Notification Date (DD/MM/YYYY)</label>
                                        <div class="input-group date" id="TenderNFDateDIV">
                                            <input required type="text" class="form-control" id="TenderNFDate" placeholder="Select Notification Date" name="TenderNFDate"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Date Of Pre Bid Conference (DD/MM/YYYY)</label>
                                        <div class="input-group date" id="PreBidDateDIV">
                                            <input required type="text" class="form-control" name="PreBidDate" placeholder="Select Pre Bid Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Time Of Pre Bid Conference - HH:MM (24 Hrs)</label>
                                        <input required type="time" class="form-control" name="PreBidTime" placeholder="Select Pre Bid Conference Time" />
                                    </div>
                                </div>




                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Bid Submission Date - Online (DD/MM/YYYY)</label>
                                        <div class="input-group date" id="BidSDateOnDIV">
                                            <input required type="text" class="form-control" name="BidSDateOn" id="BidSDateOnVal" placeholder="Select Bid Submission Date - Online"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                        </div>
                                        <p class="dateMessage" style="color:orangered;font-weight:bold;display:none;">
                                           Note - We Dont Have Enough Time to Submit A Bid
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="row">


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Bid Submission Time - Online - HH:MM (24 Hrs)</label>
                                        <input required type="time" class="form-control" name="BidSTimeOn" placeholder="Select Bid Submission Time - Online" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Bid Submission Date - Offline (DD/MM/YYYY)</label>
                                        <div class="input-group date" id="BidSDateOffDIV">
                                            <input required type="text" class="form-control" name="BidSDateOff" id="BidSDateOffVal" placeholder="Select Bid Submission Date - Offline"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                        </div>
                                        <p class="dateMessage2" style="color:orangered;font-weight:bold;display:none;">
                                            Note - We Dont Have Enough Time to Submit A Bid
                                        </p>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Bid Submission Time - Offline - HH:MM (24 Hrs)</label>
                                        <input required type="time" class="form-control" name="BidSTimeOff" placeholder="Select Bid Submission Time - Offline" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Bid Opening Date (DD/MM/YYYY)</label>
                                        <div class="input-group date" id="BidOpeningDateDIV">
                                            <input required type="text" class="form-control" name="BidOpeningDate" placeholder="Select Bid Opening Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Bid Opening Time - HH:MM (24 Hrs)</label>
                                        <input required type="time" class="form-control" name="BidOpeningTime" placeholder="Select Bid Opening Time" />
                                    </div>
                                </div>




                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Bid Validity</label>
                                        &nbsp;&nbsp;<span class="text-danger"></span>
                                        <textarea rows="3" required id="BidValidity" name="BidValidity" type="text" class="form-control" placeholder="Enter Bid Validity"></textarea>

                                    </div>
                                </div>




                            </div>

                            <hr />


                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Client Contact Person</label>
                                        &nbsp;&nbsp;<span asp-validation-for="ContactDetails" class="text-danger"></span>
                                        <textarea id="ContactDetails" required rows="3" asp-for="ContactDetails" name="ContactDetails" type="text" class="form-control" placeholder="Enter Contact Details"></textarea>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Designation</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Designation" class="text-danger"></span>
                                        <textarea id="Designation" required rows="3" asp-for="Designation" name="Designation" type="text" class="form-control" placeholder="Enter Designation"></textarea>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Email</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Email" class="text-danger"></span>
                                        <textarea id="Email" rows="3" required asp-for="Email" name="Email" type="text" class="form-control" placeholder="Enter Email"></textarea>

                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Phone Number</label>
                                        &nbsp;&nbsp;<span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        <textarea id="PhoneNumber" required rows="3" asp-for="PhoneNumber" name="PhoneNumber" type="text" class="form-control" placeholder="Enter Phone Number"></textarea>

                                    </div>
                                </div>



                            </div>
                            <hr />


                            <div class="row">



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">
                                            Earnest Money Deposit (EMD)  (₹)
                                        </label>
                                        &nbsp;&nbsp;<span asp-validation-for="EMD" class="text-danger"></span>
                                        <input id="EMD" asp-for="EMD" required name="EMD" step="any" type="number" class="form-control" placeholder="Enter EMD" />

                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">EMD Exempted (Yes/ No)</label>
                                        &nbsp;&nbsp;<span asp-validation-for="EMDE" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="EMDE">
                                            <option value="null" disabled Selected>---Select One---</option>

                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>



                                        </select>
                                    </div>
                                </div>




                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">
                                            Tender Fee (₹)
                                        </label>
                                        &nbsp;&nbsp;<span asp-validation-for="TenderFee" class="text-danger"></span>
                                        <input id="TenderFee" required asp-for="TenderFee" name="TenderFee" type="number" step="any" class="form-control" placeholder="Enter Tender Fee Details" />

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Tender Fee Details</label>
                                        &nbsp;&nbsp;<span asp-validation-for="TenderFeeDetails" class="text-danger"></span>
                                        <textarea id="TenderFeeDetails" required asp-for="TenderFeeDetails" name="TenderFeeDetails" type="text" class="form-control" placeholder="Enter Tender Fee Details"></textarea>

                                    </div>
                                </div>

                            </div>

                            <div class="row">




                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Tender Fee Exempted (Yes/ No)</label>
                                        &nbsp;&nbsp;<span asp-validation-for="TEx" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="TEx">
                                            <option value="null" disabled Selected>---Select One---</option>

                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>



                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Approx Contract Value (₹)</label>
                                        &nbsp;&nbsp;<span asp-validation-for="ContractValue" class="text-danger"></span>
                                        <input id="ContractValue" required type="number" step="any" asp-for="ContractValue" name="ContractValue" class="form-control" placeholder="Enter Contract Value" />

                                    </div>
                                </div>


                            </div>
                            <hr />

                            <div class="row">


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Contract Period (In Months)</label>
                                        &nbsp;&nbsp;<span asp-validation-for="ContractPeriod" class="text-danger"></span>
                                        <textarea id="ContractPeriod" required asp-for="ContractPeriod" name="ContractPeriod" type="text" class="form-control" placeholder="Enter Contract Period"></textarea>

                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Extendable Contract Period (In Months)</label>
                                        &nbsp;&nbsp;<span asp-validation-for="ExContractPeriod" class="text-danger"></span>
                                        <textarea id="ExContractPeriod" required asp-for="ExContractPeriod" name="ExContractPeriod" type="text" class="form-control" placeholder="Enter Extendable Contract Period"></textarea>

                                    </div>
                                </div>

                            </div>

                            <hr />


                            <div class="row">



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Source</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Source" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Source">
                                            <option value="null" disabled Selected>---Select Source---</option>
                                            <option value="Tender Portals">Tender Portals</option>
                                            <option value="Website">Website</option>
                                            <option value="Email">Email</option>
                                            <option value="Newspaper">Newspaper</option>
                                            <option value="Others">Others</option>


                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Source Details</label>
                                        &nbsp;&nbsp;<span asp-validation-for="SourceDetails" class="text-danger"></span>
                                        <input id="SourceDetails" required asp-for="SourceDetails" name="SourceDetails" type="text" class="form-control" placeholder="Enter Source Details" />
                                    </div>
                                </div>


                                @{ var TenderIndustry = ViewBag.Industry;}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Tender Industry</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Industry" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="Industry">
                                            <option value="null" disabled Selected>---Select Industry---</option>

                                            @for (var i = 0; i < TenderIndustry.Count; i++)
                                            {

                                                <option value="@TenderIndustry[i].Id">@TenderIndustry[i].Name</option>

                                            }



                                        </select>
                                    </div>
                                </div>


                                @{ var TenderCategory = ViewBag.TenderCategory;}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Tender Category</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Category" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="TenderCategory">
                                            <option value="null" disabled Selected>---Select Category---</option>

                                            @for (var i = 0; i < TenderCategory.Count; i++)
                                            {

                                                <option value="@TenderCategory[i].Id">@TenderCategory[i].Name</option>

                                            }



                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="row">



                                @{ var TenderType = ViewBag.TenderType;}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Tender Type</label>
                                        &nbsp;&nbsp;<span asp-validation-for="TenderType" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="TenderType">
                                            <option value="null" disabled Selected>---Select One---</option>

                                            @for (var i = 0; i < TenderType.Count; i++)
                                            {

                                                <option value="@TenderType[i].Id">@TenderType[i].Name</option>

                                            }



                                        </select>
                                    </div>
                                </div>



                                @{ var BiddingType = ViewBag.BiddingType;}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Bidding Type</label>
                                        &nbsp;&nbsp;<span asp-validation-for="BiddingType" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="BiddingType">
                                            <option value="null" disabled Selected>---Select One---</option>

                                            @for (var i = 0; i < BiddingType.Count; i++)
                                            {

                                                <option value="@BiddingType[i].Id">@BiddingType[i].Name</option>

                                            }



                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">Mode Of Submission</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Mode" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="mode">
                                            <option value="null" disabled Selected>---Select One---</option>

                                            <option value="Online">Online</option>
                                            <option value="Offline">Offline</option>
                                            <option value="Both">Both</option>



                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10 text-left">JV/ Consortium Allowed (Yes/ No)</label>
                                        &nbsp;&nbsp;<span asp-validation-for="JV" class="text-danger"></span>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="JV">
                                            <option value="null" disabled Selected>---Select One---</option>

                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                            <option value="NA">NA</option>



                                        </select>
                                    </div>
                                </div>




                            </div>
                            <hr />

                            <div class="row">
                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Bid Award</label>
                                        &nbsp;&nbsp;<span asp-validation-for="BidAward" class="text-danger"></span>
                                        <textarea id="BidAward" asp-for="BidAward" name="BidAward" type="text" class="form-control" placeholder="Enter Details"></textarea>

                                    </div>
                                </div>*@

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Remark</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Remark" class="text-danger"></span>
                                        <textarea id="Remark" rows="3" asp-for="Remark" name="Remark" type="text" class="form-control" placeholder="Enter Remark"></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Save</button>

                                <a asp-controller="Admin" asp-action="Tenders" class="btn btn-danger pull-left">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('#TenderNFDateDIV').datepicker({
            format: "dd/mm/yyyy",
            //endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        $('#PreBidDateDIV').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true
        });

        $('#BidSDateOnDIV').datepicker({
            format: "dd/mm/yyyy",
            //startDate: "+0d",

            autoclose: true,
            todayHighlight: true
        });

        $('#BidSDateOffDIV').datepicker({
            format: "dd/mm/yyyy",
            //minDate: 0,
            //startDate: "+0d",

            autoclose: true,
            todayHighlight: true
        });

        $('#BidOpeningDateDIV').datepicker({
            format: "dd/mm/yyyy",
            //endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {

            $("#BidSDateOnVal").change(function () {
                var BidSDateOnVal = $("#BidSDateOnVal").val();

                var BidSDateOnValAr = $("#BidSDateOnVal").val().split('/');
                BidSDateOnVal = BidSDateOnValAr[1]+'/'+BidSDateOnValAr[0]+'/'+BidSDateOnValAr[2] ;


                const date1 = new Date(BidSDateOnVal);
                const date2 = new Date();
                const diffTime = Math.abs(date2 - date1);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                if (diffDays < 10) {
                    $(".dateMessage").show();

                } else {
                    $(".dateMessage").hide();


                }


            });


            $("#BidSDateOffVal").change(function () {
                var BidSDateOnVal = $("#BidSDateOffVal").val();

                var BidSDateOnValAr = $("#BidSDateOffVal").val().split('/');
                BidSDateOnVal = BidSDateOnValAr[1] + '/' + BidSDateOnValAr[0] + '/' + BidSDateOnValAr[2];


                const date1 = new Date(BidSDateOnVal);
                const date2 = new Date();
                const diffTime = Math.abs(date2 - date1);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                if (diffDays < 10) {
                    $(".dateMessage2").show();

                } else {
                    $(".dateMessage2").hide();


                }


            });
            $(".delete-row").click(function () {
       
                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#PriorityList").change(function () {
                var P = $("#PriorityList option:selected").text();
                if (P == "Type A") {
                    $("#pinfo").text("Contract Value ≥ 20 Cr");
                }else if (P == "Type B") {
                    $("#pinfo").text("Contract Value 10-20 Cr");
                
                }else if (P == "Type C") {
                    $("#pinfo").text("Contract Value 5-10 Cr");

                
                } else if (P == "Type D") {
                    $("#pinfo").text("Contract Value 1-5 Cr");

                
                } else if (P == "Type E") {
                    $("#pinfo").text("Contract Value < 1 Cr");

                }



             });

            $("#add-more").click(function () {

                var DestinationName = document.getElementById("DestinationName").value;
                var DestCat = document.getElementById("DestCat").value;
                var ORoadKM = document.getElementById("ORoadKM").value;
                var OJourneyHR = document.getElementById("OJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';
     
                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='DestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='DestCat[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ORoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });



    

    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}