﻿@using Microsoft.Extensions.Options
@model PMS.Models.VisaAssistance
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Add New Entry - Visa";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Add New Entry - Visa</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="AddVisa">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Continent</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Continent" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" id="Type" name="Continent">
                                        <option value="null" disabled Selected>---Select Continent---</option>

                                        <option value="Asia">Asia</option>
                                        <option value="Europe">Europe</option>
                                        <option value="North America">North America</option>
                                        <option value="South America">South America</option>
                                        <option value="Africa">Africa</option>
                                        <option value="Australia">Australia</option>
                                        <option value="NewZealand">NewZealand</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Country Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CountryName" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="CountryName">
                                        <option value="null" disabled Selected>---Select Continent---</option>
                                        <option value="India">India</option>
                                        <option value="UnitedStates">United States</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Malaysia">Malaysia</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Guess Profession</label>
                                    &nbsp;&nbsp;<span asp-validation-for="GuestProfession" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="GuestProfession">
                                        <option value="null" disabled Selected>---Select Profession---</option>
                                        <option value="Self Employed">Self Employed</option>
                                        <option value="Private Employed">Private Employed</option>
                                        <option value="Govt Employed">Govt Employed</option>
                                        <option value="Farmer">Farmer</option>
                                        <option value="Student">Student</option>
                                        <option value="Dependent">Dependent</option>
                                        <option value="Retired">Retired</option>
                                        <option value="Home Maker">Home Maker</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Visa Type</label>
                                    &nbsp;&nbsp;<span asp-validation-for="VisaType" class="text-danger"></span>
                                    <select class="selectpicker" required data-style="form-control btn-default btn-outline" name="VisaType">
                                        <option value="null" disabled Selected>---Select Visa Type---</option>
                                        <option value="Tourist">Tourist</option>
                                        <option value="Service">Service</option>
                                        <option value="Business">Business</option>
                                        <option value="Conference">Conference</option>
                                        <option value="Student">Student</option>
                                        <option value="Transit">Transit</option>
                                        <option value="Dependent">Dependent</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Fees</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Fees" class="text-danger"></span>
                                    <input id="Name" name="Fees" type="text" class="form-control" placeholder="Enter Fees">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Duration</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Duration" class="text-danger"></span>
                                    <input id="Name" name="Duration" type="text" class="form-control" placeholder="Enter Duration ">
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">SOP</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SOP" class="text-danger"></span>
                                    <input id="Name" name="SOP" type="text" class="form-control" placeholder="Enter SOP ">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Important Note</label>
                                    <input id="ImportantNote" name="ImportantNote" asp-for="ImportantNote" type="text" class="form-control" placeholder="Enter Note">
                                </div>
                            </div>


                            @*<div class="col-md-12">
            <div class="form-group">
                <div class="page-header">
                    <h5>Add Fixed Documents</h5>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissible" id="ErrorMsg" style="display: none;">
                    <div class="alert-text">Please enter all fields</div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label mb-10 text-left">Description</label>
                <input asp-for="Description" id="DocDescription" type="text" class="form-control" placeholder="Enter Description">
            </div>
        </div>

        <div class="col-md-12">
            <button id="add-more" type="button" class="btn btn-primary pull-right">Add More</button>
        </div>



        <div class="col-md-12" id="add_more_table" style="display: none;">
            <table class="table table-hover" id="add_table">
                <thead>
                    <tr>
                        <th width="5%">
                            <button class="btn btn-danger btn-sm rounded-0 delete-row" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </th>
                        <th scope="col">Desciption</th>
                        <th scope="col">File</th>

                    </tr>
                </thead>
                <tbody class="note">
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="page-header">
                    <h5>Add Specific Document Details</h5>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissible" id="ErrorMsg2" style="display: none;">
                    <div class="alert-text">Please enter all fields</div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label mb-10 text-left">Description</label>
                <input asp-for="Description" id="SDocDescription" type="text" class="form-control" placeholder="Enter Description">
            </div>
        </div>

        <div class="col-md-12">
            <button id="add-more2" type="button" class="btn btn-primary pull-right">Add More</button>
        </div>



        <div class="col-md-12" id="add_more_table2" style="display: none;">
            <table class="table table-hover" id="add_table2">
                <thead>
                    <tr>
                        <th width="5%">
                            <button class="btn btn-danger btn-sm rounded-0 delete-row2" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </th>
                        <th scope="col">Desciption</th>
                        <th scope="col">File</th>

                    </tr>
                </thead>
                <tbody class="note2">
                </tbody>
            </table>
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <div class="page-header">
                    <h5>Add Attachments</h5>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissible" id="ErrorMsg3" style="display: none;">
                    <div class="alert-text">Please enter all fields</div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label mb-10 text-left">Description</label>
                <input asp-for="Description" id="ADocDescription" type="text" class="form-control" placeholder="Enter Description">
            </div>
        </div>

        <div class="col-md-12">
            <button id="add-more3" type="button" class="btn btn-primary pull-right">Add More</button>
        </div>



        <div class="col-md-12" id="add_more_table3" style="display: none;">
            <table class="table table-hover" id="add_table3">
                <thead>
                    <tr>
                        <th width="5%">
                            <button class="btn btn-danger btn-sm rounded-0 delete-row2" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </th>
                        <th scope="col">Desciption</th>
                        <th scope="col">File</th>

                    </tr>
                </thead>
                <tbody class="note3">
                </tbody>
            </table>
        </div>*@



                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="submit" class="btn btn-success pull-right">Save</button>
                                <a asp-controller="Admin" asp-action="InvoiceDetails" class="btn btn-danger pull-left">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {
       
                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var DestinationName = document.getElementById("DestinationName").value;
                var DestCat = document.getElementById("DestCat").value;
                var ORoadKM = document.getElementById("ORoadKM").value;
                var OJourneyHR = document.getElementById("OJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';
     
                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='DestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='DestCat[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ORoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });



    

    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}