﻿@using Microsoft.Extensions.Options
@model Project
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Create - Project";
}




<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                @*<div class="pull-left">
                        <h6 class="panel-title txt-light">Create Project</h6>
                    </div>*@
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="panel-title txt-light">Create Project</h5>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb txt-light">
                        <li class="txt-light"><a asp-action="Dashboard">Dashboard</a></li>
                        <li class="txt-light"><a asp-action="Projects"><span>Projects</span></a></li>

                        <li class="txt-light active"><span>Create Project</span></li>
                    </ol>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<form method="post" asp-action="CreateProjectDetails" asp-controller="Admin">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Project Details</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <div asp-validation-summary="All" class="text-danger"></div>



                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label mb-10 ">Project Name</label>
                                    <textarea rows="2" class="form-control" name="projectName" required placeholder="Enter Project Name"></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10">Project Description</label>
                                    <textarea rows="2" class="form-control" name="prodescription" placeholder="Enter Project Description" required></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10 ">Consignee</label>
                                    <textarea rows="2" class="form-control" name="consignee" placeholder="Enter Consignee Name" required></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10">Consignee Address</label>
                                    <textarea rows="2" class="form-control" name="consigneeAdd" placeholder="Enter Consignee Address" required></textarea>
                                </div>
                            </div>


                            <div class="row mt-5">
                                <div class="col-sm-3">
                                    <label class="control-label mb-10 ">Client Name</label>
                                    <select name="clientName" class="form-control" id="ProjectList" required>

                                        <option value="" disabled selected>Select Client Name</option>
                                        @{
                                            var Ledger = ViewBag.Ledger;

                                            for (int i = 0; i < @Ledger.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <option value="@Ledger[i].ID">@Ledger[i].LedgerName</option>

                                            }
                                        }
                                    </select>               
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10">Client Address</label>
                                    <textarea rows="2" class="form-control" name="clientAdd" placeholder="Enter Client Address" required></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10 ">Client PAN</label>
                                    <textarea rows="2" class="form-control" name="clientPAN" placeholder="Enter Client PAN" required></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10">Client GST</label>
                                    <textarea rows="2" class="form-control" name="clientGST" placeholder="Enter Client GST" required></textarea>
                                </div>
                            </div>

                            <div class="row mt-5">


                                <div class="col-sm-3">
                                    <label class="control-label mb-10 ">LOA No</label>
                                    <textarea rows="2" class="form-control" name="LOANS" placeholder="Enter LOA Nos" required></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10">SQ7 Pan</label>
                                    <textarea rows="2" class="form-control" name="SQPAN" placeholder="Enter Pan No" required></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10 ">SQ7 GST</label>
                                    <textarea rows="2" class="form-control" name="SQGST" placeholder="Enter GST No" required></textarea>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label mb-10">Company Name</label>
                                    <select name=CompanyID class="form-control" id="CompanyList" required>
                                        <option value="" disabled selected>Select Company</option>
                                        @{
                                            var Company = ViewBag.Company;

                                            for (int i = 0; i < @Company.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <option value="@Company[i].Id">@Company[i].CompanyName</option>

                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-sm-3">
                                    <label class="control-label mb-10">Project Contains : </label>
                                    <select name=ModeID class="form-control" id="Mode" required>
                                        <option value="" disabled selected>Select One</option>
                                        <option value="Supply Line Items">Supply Line Items</option>
                                        <option value="Erection Line Items">Erection Line Items</option>

                                        <option value="Supply Line Items + Erection Line Items">Supply Line Items + Erection Line Items</option>


                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Row -->
    <!-- Row -->

    <div class="row supplyRow" style="display:none;">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">GST & Deductions For Supply Line</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <div class="form-group mb-0">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">GST (%)</label>
                                            <input type="number" step="any" class="form-control" value="18" name="GSTmain" id="GSTmain" placeholder="Enter GST" >
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">F&I (%)</label>
                                            <input type="number" step="any" class="form-control" value="0.00" name="FImain" id="FImain" placeholder="Enter FI" >
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">CESS (%)</label>
                                            <input type="number" step="any" class="form-control" value="1" name="CESSmain" id="CESSmain" placeholder="Enter CESS" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- Row -->
    <!-- Row -->

    <div class="row supplyRow" style="display:none;">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Add Supply Line Items</h6>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blankfield alert alert-danger alert-dismissible" role="alert" style="display:none">
                        <div class="alert-text">You already added this data in table!</div>
                        <div class="alert-close">
                            <i class="flaticon2-cross kt-icon-sm" data-dismiss="alert"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <div class="form-group mb-0">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">Descriptions</label>
                                            <select name=DescriptionValue class="form-control scrollable-menu" id="DescList">
                                                <option value="" disabled selected>Select Description</option>
                                                @{
                                                    var Description = ViewBag.Description;

                                                    for (int i = 0; i < @Description.Count; i++)
                                                    {
                                                        var counter = 0;
                                                        counter = @i + 1;

                                                        <option value="@Description[i].ID">@Description[i].Name</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">Units</label>
                                            <select name=UnitValue class="form-control" id="UnitList">
                                                <option value="" disabled selected>Select Unit</option>
                                                @{
                                                    var Unit = ViewBag.Unit;

                                                    for (int i = 0; i < @Unit.Count; i++)
                                                    {
                                                        var counter = 0;
                                                        counter = @i + 1;

                                                        <option value="@Unit[i].ID">@Unit[i].Name</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">Quantity</label>
                                            <input type="number" step="any" class="form-control" id="QtyVal" placeholder="Enter Quantity">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">HSN Code</label>
                                            <input type="text" step="any" class="form-control" id="HSN" placeholder="Enter HSN">
                                        </div>

                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">EX-Works Rate</label>
                                            <input type="number" step="any" class="form-control" id="ExRate" placeholder="Enter ExWorksRate">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10 FIlabel">F&I AT 2%</label>
                                            <input type="text" class="form-control"  id="FIval" placeholder="F&I">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">EX-WORKS + F&I</label>
                                            <input type="text" step="any" class="form-control"  id="ExRateFIval" placeholder="EX-WORKS + FI">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10 gstlabel">GST AT 18%</label>
                                            <input type="text" class="form-control" id="GSTval"  placeholder="GST">
                                        </div>
                                       
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">EX-WORKS + F&I + GST</label>
                                            <input type="text" step="any" class="form-control"  id="ExRateFIGST" placeholder="EX-WORKS + F&I + GST">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10 CESSlabel">LABOUR CESS @@1%</label>
                                            <input type="number" step="any" class="form-control"  id="CESSval" placeholder="Labour CESS">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">UNIT RATE</label>
                                            <input type="text" class="form-control"  id="UnitRateVal" placeholder="Unit Rate">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">AMOUNT (₹)</label>
                                            <input type="text" class="form-control" id="AmountVal"  placeholder="Amount">
                                        </div>

                                    </div>
                                    <div class="row pull-right mt-20">
                                        <div class="col-sm-3">

                                            <button type="button" class="btn btn-primary btn-sm add-row">Add</button>

                                        </div>
                                    </div>
                                    <div class="row pull-left mt-20">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-info btn-sm vp  ml-2" data-toggle="modal" data-target="#responsive-modal">View Detailed Preview</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-muted text-center slit" style="display:none;">Supply Line Items Table</p>

                            <div class="table-wrap mt-40 slit" style="display:none;">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th width="7%">
                                                    <button type="button" class="btn btn-danger delete-row">Delete Record/s</button>
                                                </th>
                                                <th hidden width="7%">Description ID</th>
                                                <th hidden>Unit ID</th>

                                                <th>Description Of Unit</th>
                                                <th>Unit</th>
                                                <th>Qty</th>
                                                <th>HSN Code</th>

                                                <th>Ex-Works Rate</th>

                                                <th class="FIlabel">F&I at 2%</th>
                                                <th>Ex-Works + F&I</th>
                                                <th class="gstlabel">GST at 18%</th>
                                                <th>Ex-Works + F&I + GST</th>
                                                <th class="CESSlabel">Labour CESS @@1%</th>
                                                <th>Unit Rate</th>
                                                <th>Amount</th>

                                            </tr>
                                        </thead>
                                        <tbody class="note">
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th style="text-align:right;font-weight: 700;">Total</th>
                                                <th></th>
                                                <th></th>

                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th>
                                                    <input type="text" readonly class="finalAmt form-control" />
                                                </th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

    <div class="row erectionRow" style="display:none;">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">GST & Deductions For Erection Line</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <div class="form-group mb-0">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">GST (%)</label>
                                            <input type="number" step="any" class="form-control" name="EGSTmain" id="EGSTmain" value="18" placeholder="Enter GST" >
                                        </div>

                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">CESS (%)</label>
                                            <input type="number" step="any" class="form-control" value="1" name="ECESSmain" id="ECESSmain" placeholder="Enter CESS" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

    <div class="row erectionRow" style="display:none;">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Add Erection Line Items</h6>
                    </div>
                    <div class="clearfix"></div>
                    <div class="blankfield2 alert alert-danger alert-dismissible" role="alert" style="display:none">
                        <div class="alert-text">You already added this data in table!</div>
                        <div class="alert-close">
                            <i class="flaticon2-cross kt-icon-sm" data-dismiss="alert"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <div class="form-group mb-0">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">Descriptions</label>
                                            <select name=DescriptionValue class="form-control scrollable-menu"  id="EDescList">
                                                <option value="" disabled selected>Select Description</option>
                                                @{
                                                    var Description2 = ViewBag.Description;

                                                    for (int i = 0; i < @Description2.Count; i++)
                                                    {
                                                        var counter = 0;
                                                        counter = @i + 1;

                                                        <option value="@Description2[i].ID">@Description2[i].Name</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">Units</label>
                                            <select name=UnitValue class="form-control"  id="EUnitList">
                                                <option value="" disabled selected>Select Unit</option>
                                                @{
                                                    var Unit2 = ViewBag.Unit;

                                                    for (int i = 0; i < @Unit2.Count; i++)
                                                    {
                                                        var counter = 0;
                                                        counter = @i + 1;

                                                        <option value="@Unit2[i].ID">@Unit2[i].Name</option>

                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">Quantity</label>
                                            <input type="text" class="form-control" id="EQtyVal" placeholder="Enter Quantity">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">HSN Code</label>
                                            <input type="text" step="any" class="form-control" id="EHSN" placeholder="Enter HSN">
                                        </div>

                                    </div>
                                    <div class="row  mt-5">

                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">EX-Works Rate</label>
                                            <input type="number" step="any" class="form-control" id="EExRate" placeholder="Enter ExWorksRate">
                                        </div>

                                        <div class="col-sm-3">
                                            <label class="control-label mb-10 Egstlabel">GST AT 18%</label>
                                            <input type="text" class="form-control" id="EGSTval"  placeholder="GST">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">EX-WORKS + GST</label>
                                            <input type="number" step="any" class="form-control"  id="EExRateGST" placeholder="EX-WORKS + F&I + GST">
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10 ECESSlabel">LABOUR CESS @@1%</label>
                                            <input type="number" step="any" class="form-control"  id="ECESSval" placeholder="Labour CESS">
                                        </div>
                                    
                                    </div>
                                    <div class="row  mt-5">
                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">UNIT RATE</label>
                                            <input type="text" class="form-control"  id="EUnitRateVal" placeholder="Unit Rate">
                                        </div>

                                        <div class="col-sm-3">
                                            <label class="control-label mb-10">AMOUNT (₹)</label>
                                            <input type="number" step="any" class="form-control"  id="EAmountVal" placeholder="Amount">
                                        </div>

                                    </div>
                                    <div class="row pull-right mt-20">
                                        <div class="col-sm-3">

                                            <button type="button" class="btn btn-primary Eadd-row">Add</button>
                                        </div>
                                    </div>
                                    <div class="row pull-left mt-20">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-info btn-sm vep  ml-2" data-toggle="modal" data-target="#responsive-modal2">View Detailed Preview</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-muted text-center eslit" style="display:none;">Erection Line Items Table</p>

                            <div class="table-wrap mt-40 eslit" style="display:none;">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th width="7%">
                                                    <button type="button" class="btn btn-danger edelete-row">Delete Record/s</button>
                                                </th>
                                                <th hidden width="7%">Description ID</th>
                                                <th hidden>Unit ID</th>

                                                <th>Description Of Unit</th>
                                                <th>Unit</th>
                                                <th>Qty</th>
                                                <th>HSN Code</th>

                                                <th>Ex-Works Rate</th>


                                                <th class="Egstlabel">GST at 18%</th>
                                                <th>Ex-Works + GST</th>
                                                <th class="ECESSlabel">Labour CESS @@1%</th>
                                                <th>Unit Rate</th>
                                                <th>Amount</th>

                                            </tr>
                                        </thead>
                                        <tbody class="note2">
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th style="text-align:right;font-weight: 700;">Total</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>

                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>

                                                <th></th>
                                                <th></th>
                                                <th>
                                                    <input type="text" readonly class="efinalAmt form-control" />
                                                </th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- Row -->

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default border-panel card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Project Overview</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="form-wrap">
                            <div class="table-wrap mt-40">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>

                                                <th>Sr No.</th>
                                                <th>Particulars</th>
                                                <th>Amount In Rs.</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Supply Portion
                                                </td>
                                                <td>
                                                    <input class="tsamount form-control" readonly type="text" value="0.00" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    Erection Portion
                                                </td>
                                                <td>
                                                    <input class="teamount form-control" readonly type="text" value="0.00" />

                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Total</th>
                                                <th></th>

                                                <th>
                                                    <input type="text" readonly class="tesfinalAmt form-control" value="0.00" />
                                                </th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success pull-right">Save</button>
            <a asp-action="Projects" class="btn btn-danger pull-left">Cancel</a>

        </div>
    </div>

</form>

<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:1200px !important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Supply Lines Preview</h5>
            </div>
            <div class="modal-body">
                <div class="table-wrap slit2" style="display:none;">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>



                                    <th>Description Of Unit</th>
                                    <th>Unit</th>
                                    <th>Qty</th>
                                    <th>HSN</th>

                                    <th>Ex-Works Rate</th>

                                    <th class="FIlabel">F&I at 2%</th>
                                    <th>Ex-Works + F&I</th>
                                    <th class="gstlabel">GST at 18%</th>
                                    <th>Ex-Works + F&I + GST</th>
                                    <th class="CESSlabel">Labour CESS @@1%</th>
                                    <th>Unit Rate</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody class="noteP">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="text-align:right;font-weight: 700;">Total</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <input type="text" readonly class="finalAmt form-control" />
                                    </th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<div id="responsive-modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:1200px !important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Erection Lines Preview</h5>
            </div>
            <div class="modal-body">
                <div class="table-wrap eslit2" style="display:none;">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>

                                    <th>Description Of Unit</th>
                                    <th>Unit</th>
                                    <th>Qty</th>
                                    <th>HSN</th>

                                    <th>Ex-Works Rate</th>


                                    <th class="Egstlabel">GST at 18%</th>
                                    <th>Ex-Works + GST</th>
                                    <th class="ECESSlabel">Labour CESS @@1%</th>
                                    <th>Unit Rate</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>
                            <tbody class="note2P">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="text-align:right;font-weight: 700;">Total</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                    <th></th>
                                    <th colspan="2">
                                        <input type="text" readonly class="efinalAmt form-control" />
                                    </th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <style>
     

        .container {
            max-width: 1860px !important;
        }
    </style>
    <script src="~/main/dist/js/editable-table-data.js"></script>
    <script>


        $(".delete-row").click(function () {
            var blankrowflag = true;

            var totalRows = $("table tbody.note tr").length;
            var totalRowsChecked = $("table tbody.note tr input:checked").length;

            $("table tbody.note tr input:checked").parents('tr').remove();

            if ($("table tbody.note tr").length == 0) {
                $(".slit").hide();
            }
            var sum = 0;

            $(".total").each(function () {
                sum += parseFloat(this.value);

            });
            var finalVal = sum.toFixed(2);
            $(".finalAmt").val("₹ " + finalVal);
            $(".tsamount").val("₹ " + finalVal);

            var sum = 0;

            $(".total2").each(function () {
                sum += parseFloat(this.value);
            });
            var finalVal = sum.toFixed(2);

            $(".efinalAmt").val("₹ " + finalVal);
            $(".teamount").val("₹ " + finalVal);

            var finalSum = parseFloat(($(".tsamount").val()).replace('₹', '')) + parseFloat(($(".teamount").val()).replace('₹', ''));
            $(".tesfinalAmt").val(0);

            $(".tesfinalAmt").val("₹ "+finalSum);


        });

        $(".edelete-row").click(function () {
            var blankrowflag = true;

            var totalRows = $("table tbody.note2 tr").length;
            var totalRowsChecked = $("table tbody.note2 tr input:checked").length;

            $("table tbody.note2 tr input:checked").parents('tr').remove();

            if ($("table tbody.note2 tr").length == 0) {
                $(".eslit").hide();
            }

            var sum = 0;

            $(".total").each(function () {
                sum += parseFloat(this.value);

            });
            var finalVal = sum.toFixed(2);
            $(".finalAmt").val("₹ " + finalVal);
            $(".tsamount").val("₹ " + finalVal);

            var sum = 0;

            $(".total2").each(function () {
                sum += parseFloat(this.value);
            });
            var finalVal = sum.toFixed(2);

            $(".efinalAmt").val("₹ " + finalVal);
            $(".teamount").val("₹ " + finalVal);

            var finalSum = parseFloat(($(".tsamount").val()).replace('₹', '')) + parseFloat(($(".teamount").val()).replace('₹', ''));
            $(".tesfinalAmt").val(0);

            $(".tesfinalAmt").val("₹ " + finalSum);


        });

        $(document).ready(function () {
            $("#Mode").change(function () {
                if ($("#Mode").val() == "Supply Line Items") {
                    $(".erectionRow").hide();

                    $(".supplyRow").show();

                } else if ($("#Mode").val() == "Erection Line Items") {

                    $(".erectionRow").show();
                    $(".supplyRow").hide();


                } else {

                    $(".erectionRow").show();
                    $(".supplyRow").show();


                }

     


            });


            $(".vp").click(function () {
                $("table tbody.noteP").empty();
                $("table tbody.note").find('tr').each(function () {

                    var $tds = $(this).find('input');
                    var input = $tds.eq(3).val();

                    var input12 = $tds.eq(6).val();

                    var input2 = $tds.eq(4).val();
                    var input3 = $tds.eq(5).val();
                    var input4 = $tds.eq(7).val();
                    var input5 = $tds.eq(8).val();
                    var input6 = $tds.eq(9).val();
                    var input7 = $tds.eq(10).val();
                    var input8 = $tds.eq(11).val();
                    var input9 = $tds.eq(12).val();
                    var input10 = $tds.eq(13).val();
                    var input11 = $tds.eq(14).val();


                    //if (input == DescriptionData && input2 == Unit && input3 == Qty && input4 == ExRate) {
                    //    isAddable = 0;
                    //    $(".blankfield").fadeTo(5000, 500).slideUp(500, function () {
                    //        $(".blankfield").slideUp(5000);
                    //    });
                    //}
                    //var markup = "<tr><td><center><input type='checkbox' name='record'></center></td><td hidden>" + "<input readonly type='hidden' name='txt_note[]' class='form-control problemTest' value='" + DescriptionID + "'>" + "</td><td hidden>" + "<input readonly type='hidden' name='txt_note1[]' class='form-control problemTest' value='" + UnitID + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + DescriptionData + "' title='" + DescriptionData + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + Unit + "' title='" + Unit + "'>" + "</td><td>" + "<input type='text' style='text-indent: 5px;padding-left: 15px;' readonly name='txt_note2[]' class='form-control problemTest2' value='" + Qty + "'>" + "</td><td>" + "<input type='number' step='any' style='text-indent: 5px;padding-left: 15px;' name='txt_note3[]'value='" + ExRate + "' class='form-control problemTest2' />" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note4[]' class='form-control problemTest2' value='" + TFIval + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;'  type='number' step='any' name='txt_note5[]' class='form-control problemTest2' value='" + TExRateFIval + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;'  type='number' step='any' id='number' name='txt_note6[]' class='form-control problemTest2 number' value='" + TGSTval + "' required>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note7[]' required class='form-control problemTest2 number' value='" + TExRateFIGST + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note8[]' required class='form-control problemTest2 number' value='" + TCESSval + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note9[]' required class='form-control problemTest2 number'value='" + TUnitRateVal + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note10[]' required class='form-control problemTest2 number total' value='" + TAmountVal + "'>" + "</td></tr>";

                    var markup2 = "<tr><td>" + "<textbox readonly type='text' value=" + input + " title='" + input + "'>" + input + "</textbox>" + "</td><td>" + "<textbox readonly type='text' value='" + input2 + "' title='" + input2 + "'>" + input2 + "</textbox>" + "</td><td>" + "<textbox type='text' style='text-indent: 5px;padding-left: 15px;' readonly value='" + input3 + "'>" + input3 + "</textbox>" + "</td><td>" + "<textbox type='text' style='text-indent: 5px;padding-left: 15px;' readonly value='" + input12 + "'>" + input12 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + input4 + "' >" + input4 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + " + input5 + " + "'>" + input5 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + input6 + "'>" + input6 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;'  value='" + input7 + "' required>" + input7 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;'  value='" + input8 + "'>" + input8 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value=" + input9 + ">" + input9 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + input10 + "'>" + input10 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + input11 + "'>" + input11 + "</textbox>" + "</td></tr>";

                    $("table tbody.noteP").append(markup2);

                });


            });

            $(".vep").click(function () {
                $("table tbody.note2P").empty();
                $("table tbody.note2").find('tr').each(function () {

                    var $tds = $(this).find('input');
                    var input = $tds.eq(3).val();
                    var input11 = $tds.eq(6).val();

                    var input2 = $tds.eq(4).val();
                    var input3 = $tds.eq(5).val();
                    var input4 = $tds.eq(7).val();
                    var input5 = $tds.eq(8).val();
                    var input6 = $tds.eq(9).val();
                    var input7 = $tds.eq(10).val();
                    var input8 = $tds.eq(11).val();
                    var input9 = $tds.eq(12).val();
                    var input10 = $tds.eq(13).val();


                    //if (input == DescriptionData && input2 == Unit && input3 == Qty && input4 == ExRate) {
                    //    isAddable = 0;
                    //    $(".blankfield").fadeTo(5000, 500).slideUp(500, function () {
                    //        $(".blankfield").slideUp(5000);
                    //    });
                    //}
                    //var markup = "<tr><td><center><input type='checkbox' name='record'></center></td><td hidden>" + "<input readonly type='hidden' name='txt_note[]' class='form-control problemTest' value='" + DescriptionID + "'>" + "</td><td hidden>" + "<input readonly type='hidden' name='txt_note1[]' class='form-control problemTest' value='" + UnitID + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + DescriptionData + "' title='" + DescriptionData + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + Unit + "' title='" + Unit + "'>" + "</td><td>" + "<input type='text' style='text-indent: 5px;padding-left: 15px;' readonly name='txt_note2[]' class='form-control problemTest2' value='" + Qty + "'>" + "</td><td>" + "<input type='number' step='any' style='text-indent: 5px;padding-left: 15px;' name='txt_note3[]'value='" + ExRate + "' class='form-control problemTest2' />" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note4[]' class='form-control problemTest2' value='" + TFIval + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;'  type='number' step='any' name='txt_note5[]' class='form-control problemTest2' value='" + TExRateFIval + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;'  type='number' step='any' id='number' name='txt_note6[]' class='form-control problemTest2 number' value='" + TGSTval + "' required>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note7[]' required class='form-control problemTest2 number' value='" + TExRateFIGST + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note8[]' required class='form-control problemTest2 number' value='" + TCESSval + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note9[]' required class='form-control problemTest2 number'value='" + TUnitRateVal + "'>" + "</td><td>" + "<input style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note10[]' required class='form-control problemTest2 number total' value='" + TAmountVal + "'>" + "</td></tr>";

                    var markup2 = "<tr><td>" + "<textbox readonly type='text' value=" + input + " title='" + input + "'>" + input + "</textbox>" + "</td><td>" + "<textbox readonly type='text' value='" + input2 + "' title='" + input2 + "'>" + input2 + "</textbox>" + "</td><td>" + "<textbox type='text' style='text-indent: 5px;padding-left: 15px;' readonly value='" + input3 + "'>" + input3 + "</textbox>" + "</td><td>" + "<textbox type='text' style='text-indent: 5px;padding-left: 15px;' readonly value='" + input11 + "'>" + input11 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + input4 + "' >" + input4 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + " + input5 + " + "'>" + input5 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' value='" + input6 + "'>" + input6 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;'  value='" + input7 + "' required>" + input7 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' >" + input8 + "</textbox>" + "</td><td>" + "<textbox style='text-indent: 5px;padding-left: 15px;' >" + input9 + "</textbox>" + "</td></tr>";

                    $("table tbody.note2P").append(markup2);

                });


            });


            $(".sp").click(function () {
                var fname = this.id;
            });

            $("#GSTmain").on('change', function () {
                var value = this.value;

                $(".gstlabel")[0].innerText = "GST AT " + value + "%";
                $(".gstlabel")[1].innerText = "GST AT " + value + "%";
                $(".gstlabel")[2].innerText = "GST AT " + value + "%";



                $("#ExRate").val("0.00");
                $("#ExRateFIval").val("0.00");
                $("#ExRateFIGST").val("0.00");

                $("#AmountVal").val("0.00");
                $("#CESSval").val("0.00");
                $("UnitRateVal").val("0.00");
                $("#GSTval").val("0.00");
                $("#FIval").val("0.00");
                $("#QtyVal").val("0.00");



            });

            $("#ExRate").on('change', function () {
                var value = this.value;
                var FI = parseFloat($("#FImain").val() / 100);
                var GST = parseFloat($("#GSTmain").val() / 100);
                var CESS = parseFloat($("#CESSmain").val() / 100);

                var finalFI = parseFloat(value * FI).toFixed(2);

                $("#FIval").val(finalFI);


                $("#ExRateFIval").val((parseFloat(finalFI) + parseFloat(this.value)).toFixed(2));
                var finalGST = parseFloat((parseFloat(finalFI) + parseFloat(this.value)) * GST).toFixed(2);
                $("#GSTval").val(finalGST);



                $("#ExRateFIGST").val((parseFloat(finalFI) + parseFloat(this.value) + parseFloat(finalGST)).toFixed(2));

                var finalCESS = parseFloat(parseFloat($("#ExRateFIGST").val()) * CESS).toFixed(2);
                $("#CESSval").val(finalCESS);


                var EXFGST = parseFloat($("#ExRateFIGST").val());

                var unitRate = (parseFloat(finalCESS) + parseFloat(EXFGST)).toFixed(2);
                $("#UnitRateVal").val(unitRate);

                var Qty =$("#QtyVal").val();

                $("#AmountVal").val((parseFloat(unitRate) * parseFloat(Qty)).toFixed(2));





                //$(".gstlabel")[0].innerText = "GST AT " + value + "%";
                //$(".gstlabel")[1].innerText = "GST AT " + value + "%";

            });

            $("#FImain").on('change', function () {
                var value = this.value;
                $(".FIlabel")[0].innerText = "F&I AT " + value + "%";
                $(".FIlabel")[1].innerText = "F&I AT " + value + "%";
                $(".FIlabel")[2].innerText = "F&I AT " + value + "%";

                $("#ExRate").val("0.00");
                $("#ExRateFIval").val("0.00");
                $("#ExRateFIGST").val("0.00");

                $("#AmountVal").val("0.00");
                $("#CESSval").val("0.00");
                $("UnitRateVal").val("0.00");
                $("#GSTval").val("0.00");
                $("#FIval").val("0.00");
                $("#QtyVal").val("0.00");




            });

            $("#CESSmain").on('change', function () {
                var value = this.value;
                $(".CESSlabel")[0].innerText = "LABOUR CESS @@" + value + "%";
                $(".CESSlabel")[1].innerText = "LABOUR CESS @@" + value + "%";
                $(".CESSlabel")[2].innerText = "LABOUR CESS @@" + value + "%";

            });

            $("#EGSTmain").on('change', function () {
                var value = this.value;
                $(".Egstlabel")[0].innerText = "GST AT " + value + "%";
                $(".Egstlabel")[1].innerText = "GST AT " + value + "%";
                $(".Egstlabel")[2].innerText = "GST AT " + value + "%";


                $("#EExRate").val("0.00");
                $("#EExRateGST").val("0.00");

                $("#EAmountVal").val("0.00");
                $("#ECESSval").val("0.00");
                $("#EUnitRateVal").val("0.00");
                $("#EGSTval").val("0.00");
                $("#EQtyVal").val("0.00");


            });


            $("#ECESSmain").on('change', function () {
                var value = this.value;
                $(".ECESSlabel")[0].innerText = "LABOUR CESS @@" + value + "%";
                $(".ECESSlabel")[1].innerText = "LABOUR CESS @@" + value + "%";
                $(".ECESSlabel")[2].innerText = "LABOUR CESS @@" + value + "%";


                $("#EExRate").val("0.00");
                $("#EExRateGST").val("0.00");

                $("#EAmountVal").val("0.00");
                $("#ECESSval").val("0.00");
                $("#EUnitRateVal").val("0.00");
                $("#EGSTval").val("0.00");
                $("#EQtyVal").val("0.00");


            });

            $("#EExRate").on('change', function () {
                var value = this.value;

                var GST = parseFloat($("#EGSTmain").val() / 100);
                var CESS = parseFloat($("#ECESSmain").val() / 100);


                var finalGST = parseFloat((parseFloat(this.value)) * GST).toFixed(2);
                $("#EGSTval").val(finalGST);



                $("#EExRateGST").val((parseFloat(this.value) + parseFloat(finalGST)).toFixed(2));

                var finalCESS = parseFloat(parseFloat($("#EExRateGST").val()) * CESS).toFixed(2);
                $("#ECESSval").val(finalCESS);


                var EXGST = parseFloat($("#EExRateGST").val());

                var unitRate = (parseFloat(finalCESS) + parseFloat(EXGST)).toFixed(2);
                $("#EUnitRateVal").val(unitRate);

                var Qty = $("#EQtyVal").val();

                $("#EAmountVal").val((parseFloat(unitRate) * parseFloat(Qty)).toFixed(2));


            });


            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Welcome to Admintres',
                        text: 'Use the predefined ones, or specify a custom position object.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }


            $(".add-row").click(function () {

                var DescriptionData = $("#DescList option:selected").text();
                var DescriptionID = $("#DescList").val();
                var UnitID = $("#UnitList").val();
                var Unit = $("#UnitList option:selected").text();
                var Qty = $("#QtyVal").val();
                var HSN = $("#HSN").val();

                var ExRate = $("#ExRate").val();
                var TFIval = $("#FIval").val();
                var TExRateFIval = $("#ExRateFIval").val();
                var TGSTval = $("#GSTval").val();
                var TExRateFIGST = $("#ExRateFIGST").val();
                var TCESSval = $("#CESSval").val();
                var TUnitRateVal = $("#UnitRateVal").val();
                var TAmountVal = $("#AmountVal").val();


                var isAddable = 1;

                $("table tbody.note").find('tr').each(function () {

                    var $tds = $(this).find('input');
                    var input = $tds.eq(3).val();
                    var input2 = $tds.eq(4).val();
                    var input3 = $tds.eq(5).val();
                    var input4 = $tds.eq(6).val();

                        if (input == DescriptionData && input2 == Unit && input3 == Qty && input4 == ExRate) {
                            isAddable = 0;
                            $(".blankfield").fadeTo(5000, 500).slideUp(500, function () {
                                $(".blankfield").slideUp(5000);
                            });
                        }
                });
                if (isAddable) {
                    var markup = "<tr><td><center><input type='checkbox' name='record'></center></td><td hidden>" + "<input readonly type='hidden' name='txt_note[]' class='form-control problemTest' value='" + DescriptionID + "'>" + "</td><td hidden>" + "<input readonly type='hidden' name='txt_note1[]' class='form-control problemTest' value='" + UnitID + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + DescriptionData + "' title='" + DescriptionData + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + Unit + "' title='" + Unit + "'>" + "</td><td>" + "<input type='text' style='text-indent: 5px;padding-left: 15px;' readonly name='txt_note2[]' class='form-control problemTest2' value='" + Qty + "'>" + "</td><td>" + "<input type='text' style='text-indent: 5px;padding-left: 15px;' readonly name='txt_note11[]' class='form-control problemTest2' value='" + HSN + "'>" + "</td><td>" + "<input readonly type='number' step='any' style='text-indent: 5px;padding-left: 15px;' name='txt_note3[]'value='" + ExRate + "' class='form-control problemTest2' />" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note4[]' class='form-control problemTest2' value='" + TFIval + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;'  type='number' step='any' name='txt_note5[]' class='form-control problemTest2' value='" + TExRateFIval + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;'  type='number' step='any' id='number' name='txt_note6[]' class='form-control problemTest2 number' value='" + TGSTval + "' required>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note7[]' required class='form-control problemTest2 number' value='" + TExRateFIGST + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note8[]' required class='form-control problemTest2 number' value='" + TCESSval + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note9[]' required class='form-control problemTest2 number'value='" + TUnitRateVal + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='txt_note10[]' required class='form-control problemTest2 number total' value='" + TAmountVal + "'>" + "</td></tr>";

                    $("table tbody.note").append(markup);
          

                }
                var sum = 0;

                $(".total").each(function () {
                    sum += parseFloat(this.value);
                });
                var finalVal = sum.toFixed(2);
                $(".finalAmt").val("₹ " + finalVal);
                $(".tsamount").val("₹ " + finalVal);



                $(".slit").show();
                $(".slit2").show();

                $(".total").on('change', function () {
                    var sum = 0;

                    $(".total").each(function () {
                        sum += parseFloat(this.value);

                    });
                    var finalVal = sum.toFixed(2);
                    $(".finalAmt").val("₹ " + finalVal);
                    $(".tsamount").val("₹ " + finalVal);

                    var finalSum = parseFloat(($(".tsamount").val()).replace('₹', '')) + parseFloat(($(".teamount").val()).replace('₹', ''));
                    $(".tesfinalAmt").val(0);

                    $(".tesfinalAmt").val("₹ " + finalSum);

                });

                var finalSum = parseFloat(($(".tsamount").val()).replace('₹', '')) + parseFloat(($(".teamount").val()).replace('₹', ''));
                $(".tesfinalAmt").val(0);

                $(".tesfinalAmt").val("₹ " + finalSum);
            });


            $(".Eadd-row").click(function () {

                var DescriptionData = $("#EDescList option:selected").text();
                var DescriptionID = $("#EDescList").val();
                var UnitID = $("#EUnitList").val();
                var Unit = $("#EUnitList option:selected").text();
                var Qty = $("#EQtyVal").val();
                var ExRate = $("#EExRate").val();
                var TGSTval = $("#EGSTval").val();
                var TExRateGST = $("#EExRateGST").val();
                var TCESSval = $("#ECESSval").val();
                var TUnitRateVal = $("#EUnitRateVal").val();
                var TAmountVal = $("#EAmountVal").val();
                var EHSN = $("#EHSN").val();


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');
                    var input = $tds.eq(3).val();
                    var input2 = $tds.eq(4).val();
                    var input3 = $tds.eq(5).val();
                    var input4 = $tds.eq(6).val();

                    if (input == DescriptionData && input2 == Unit && input3 == Qty && input4 == ExRate) {
                        isAddable = 0;
                        $(".blankfield2").fadeTo(5000, 500).slideUp(500, function () {
                            $(".blankfield2").slideUp(5000);
                        });
                    }
                });
                if (isAddable) {
                    var markup = "<tr><td><center><input  type='checkbox' name='record'></center></td><td hidden>" + "<input readonly type='hidden' name='etxt_note[]' class='form-control problemTest' value='" + DescriptionID + "'>" + "</td><td hidden>" + "<input readonly type='hidden' name='etxt_note1[]' class='form-control problemTest' value='" + UnitID + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + DescriptionData + "' title='" + DescriptionData + "'>" + "</td><td>" + "<input readonly type='text' class='form-control problemTest' value='" + Unit + "' title='" + Unit + "'>" + "</td><td>" + "<input readonly type='text' style='text-indent: 5px;padding-left: 15px;' readonly name='etxt_note2[]' class='form-control problemTest2' value='" + Qty + "'>" + "</td><td>" + "<input readonly type='text' style='text-indent: 5px;padding-left: 15px;' readonly name='etxt_note9[]' class='form-control problemTest2' value='" + EHSN + "'>" + "</td><td>" + "<input readonly type='number' step='any' style='text-indent: 5px;padding-left: 15px;' name='etxt_note3[]'value='" + ExRate + "' class='form-control problemTest2' />" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;'  type='number' step='any' id='number' name='etxt_note4[]' class='form-control problemTest2 number' value='" + TGSTval + "' required>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='etxt_note5[]' required class='form-control problemTest2 number' value='" + TExRateGST + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='etxt_note6[]' required class='form-control problemTest2 number' value='" + TCESSval + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='etxt_note7[]' required class='form-control problemTest2 number'value='" + TUnitRateVal + "'>" + "</td><td>" + "<input readonly style='text-indent: 5px;padding-left: 15px;' type='number' step='any' name='etxt_note8[]' required class='form-control problemTest2 number total2' value='" + TAmountVal + "'>" + "</td></tr>";

                    $("table tbody.note2").append(markup);
                }
                var sum = 0;

                $(".total2").each(function () {
                    sum += parseFloat(this.value);
                });
                var finalVal = sum.toFixed(2);

                $(".efinalAmt").val("₹ " + finalVal);
                $(".teamount").val("₹ " + finalVal);

                $(".eslit").show();
                $(".eslit2").show();


                $(".total2").on('change', function () {
                    var sum = 0;

                    $(".total2").each(function () {
                        sum += parseFloat(this.value);
                    });
                    var finalVal = sum.toFixed(2);

                    $(".efinalAmt").val("₹ " + finalVal);
                    $(".teamount").val("₹ " + finalVal);

                    var finalSum = parseFloat(($(".tsamount").val()).replace('₹', '')) + parseFloat(($(".teamount").val()).replace('₹', ''));
                    $(".tesfinalAmt").val(0);

                    $(".tesfinalAmt").val("₹ " + finalSum);

                });
                var finalSum = parseFloat(($(".tsamount").val()).replace('₹', '')) + parseFloat(($(".teamount").val()).replace('₹', ''));
                $(".tesfinalAmt").val(0);

                $(".tesfinalAmt").val("₹ " + finalSum);
            });

       });
    </script>

}
