﻿@using Microsoft.Extensions.Options
@inject UserManager<ApplicationUser> UserManager;
@inject PMS.Services.AdminAccess AdminAccess;

@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Hotels";
}



<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Hotels</h6>

                </div>

                <div class="clearfix"></div>
       

            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="example5" class="table table-hover display  pb-30">
                                <thead>
                                    <tr style="background-color: lightgray;">
                                        <th>ID</th>
                                        <th>Hotel Name</th>
                                        <th>Group Of</th>

                                        <th>Location Address</th>
                                        <th>Corporate Address</th>
                                        <th>Star Category</th>
                                        <th>Hotel Category</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr style="background-color: lightgray;">
                                        <th>ID</th>
                                        <th>Hotel Name</th>
                                        <th>Group Of</th>

                                        <th>Location Address</th>
                                        <th>Corporate Address</th>
                                        <th>Star Category</th>
                                        <th>Hotel Category</th>
                                        <th></th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                    @{
                                        var Hotels = ViewBag.Hotels;

                                        for (int i = 0; i < @Hotels.Count; i++)
                                        {
                                            var counter = 0;
                                            counter = @i + 1;

                                            <tr>
                                                <th scope="row">@counter</th>
                                                <td>@Hotels[i].Name</td>
                                                <td>@Hotels[i].GroupOf</td>
                                                <td>@Hotels[i].Address1</td>
                                                <td>@Hotels[i].Address2</td>
                                                <td>@Hotels[i].Star</td>
                                                <td>@Hotels[i].HotelCat</td>

                                            
                                                    <td>
                                                        <a class="btn btn-primary txt-light" asp-controller="Admin" asp-action="ViewHotel" asp-route-ID="@Hotels[i].HID">View</a>
                                                    </td>
                                                

                                            </tr>
                                        }


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
  
        <a asp-controller="Admin" asp-action="AddHotel" class="btn btn-success pull-right">Add Hotel</a>
    

</div>

<!-- /Row -->

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#example5').DataTable({
                "iDisplayLength": 10,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },

                    {
                        extend: 'copyHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1]
                        }
                    }

                ]
            });

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Error!',
                        text: 'Record Already Exists!.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }


            if ("@TempData["Message"]" == "Success"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Success',
                        text: 'Record Added Successfully!.',
                        position: 'bottom-right',
                        loaderBg: 'green',
                        icon: 'success',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }
       });
    </script>

}