﻿@using Microsoft.Extensions.Options

@inject UserManager<ApplicationUser> UserManager;
@inject PMS.Services.AdminAccess AdminAccess;
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Project File Archive";
}



<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Project File Archive</h6>

                </div>

                <div class="clearfix"></div>
                @*<div class="pull-right">

                        <a asp-action="CreateProject" class="btn  btn-primary btn-rounded">Create Project</a>
                    </div>
                    <div class="clearfix"></div>*@

            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="example6" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr style="background-color: lightgray;">
                                            <th>Type</th>

                                            <th>File Name</th>

                                            <th>
                                                Tender Ref
                                            </th>

                                            <th>Client</th>
                                            <th>High Level Scope Of Work</th>
                                            <th>Sector</th>

                                            <th>Costing Group</th>
                                            <th>Coverage Or Deployment</th>
                                            <th>Cost Estd</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr style="background-color: lightgray;">
                                            <th>Type</th>

                                            <th>File Name</th>

                                            <th>
                                                Tender Ref
                                            </th>

                                            <th>Client</th>
                                            <th>High Level Scope Of Work</th>
                                            <th>Sector</th>

                                            <th>Costing Group</th>
                                            <th>Coverage Or Deployment</th>
                                            <th>Cost Estd</th>

                                            <th></th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            var SelfSOR = ViewBag.SelfSOR;

                                            for (int i = 0; i < SelfSOR.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                                                <tr>
                                                                                    <td>@SelfSOR[i].Type</td>

                                                                                    <td>@SelfSOR[i].Name</td>


                                                                                    <td>@SelfSOR[i].TenderRef

                                                                                    <td>@SelfSOR[i].ClientName</td>
                                                                                    <td>@SelfSOR[i].HighLevScope</td>
                                                                                    <td>@SelfSOR[i].Sector</td>
                                                                                    <td>@SelfSOR[i].CostingGroup</td>
                                                                                    <td>@SelfSOR[i].CoverageORDeployment</td>
                                                                                    <td>@SelfSOR[i].CostEst</td>

                                                                                    <td><a class="btn btn-primary" target="_blank" href="https://sakhaivstaging.blob.core.windows.net/pms/@SelfSOR[i].Content">Download</a></td>

                                                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                @*<a asp-action="Reports" class="btn btn-primary pull-left mt-10">View Reports</a>*@

          
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

@section Scripts{

    <script>
        $(document).ready(function () {

            $('#example6').DataTable({
                "iDisplayLength": 10,
                dom: 'Bfrtip',
                buttons: ['pdfHtml5', 'excelHtml5', 'copyHtml5']

               
            });

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Error!',
                        text: 'Record Already Exists!.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }


            if ("@TempData["Message"]" == "Success"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Success',
                        text: 'Record Added Successfully!.',
                        position: 'bottom-right',
                        loaderBg: 'green',
                        icon: 'success',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }


 

   
       });
    </script>

}