﻿@using Microsoft.Extensions.Options

@inject UserManager<ApplicationUser> UserManager;
@inject PMS.Services.AdminAccess AdminAccess;

@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Tenders";
}


@{var Permission = AdminAccess.GetAdminAccess();}

<!-- Row -->


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Filter</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <br />
            <div class="col-md-12">
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg" style="display: none;">
                        <div class="alert-text">You need to select start date & end date both!</div>
                    </div>
                </div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="Tender_Report_FilterWise">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">From Date (DD/MM/YYYY)</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="StartDate" value="@ViewBag.StartDate" name="StartDate" placeholder="Select From Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">End Date (DD/MM/YYYY)</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="EndDate" value="@ViewBag.EndDate" name="EndDate" placeholder="Select From End Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">.</label>
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-success">View Tenders</button>
                                        &nbsp;&nbsp;
                                        <button id="reset" type="button" class="btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Tenders For Month - @ViewBag.Date</h6>

                </div>

                <div class="clearfix"></div>
                @*<div class="pull-right">

                        <a asp-action="CreateProject" class="btn  btn-primary btn-rounded">Create Project</a>
                    </div>
                    <div class="clearfix"></div>*@

            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="example6" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr style="background-color: lightgray;">
                                            <th>
                                                VCS No
                                            </th>

                                            <th>TNo</th>
                                            <th>Client Name</th>
                                            <th>Category</th>
                                            <th>Region </th>
                                            <th>TF Date</th>
                                            <th>BSD (Online)</th>
                                            <th>BSD (Offline)</th>
                                            <th>Bid Submitted On</th>
                                            <th>Value</th>
                                            <th>BEC Status</th>
                                            <th>Synopsis Status</th>
                                            <th>Status</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr style="background-color: lightgray;">
                                            <th>
                                                VCS No
                                            </th>
                                            <th>TNo</th>
                                            <th>Client Name</th>
                                            <th>Category</th>
                                            <th>Region </th>
                                            <th>TF Date</th>
                                            <th>BSD (Online)</th>
                                            <th>BSD (Offline)</th>
                                            <th>Bid Submitted On</th>
                                            <th>Value</th>
                                            <th>BEC Status</th>
                                            <th>Synopsis Status</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            var Tender = ViewBag.Tender;

                                            for (int i = 0; i < @Tender.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@Tender[i].TenderID</td>

                                                    <td>@Tender[i].TenderNo</td>
                                                    <td>@Tender[i].ClientName</td>
                                                    <td>@Tender[i].Category</td>

                                                    <td>@Tender[i].Region</td>
                                                    <td>@Tender[i].TenderNFDate</td>
                                                    <td>@Tender[i].BillSubOnline</td>

                                                    <td>@Tender[i].BillSubOffline</td>
                                                    <td>-</td>
                                                    <td>@Tender[i].TenderFee</td>
                                                    @if (Tender[i].BECStatus == "")
                                                    {

                                                        <td><span>-</span></td>

                                                    }
                                                    else
                                                    {

                                                        <td>@Tender[i].BECStatus</td>

                                                    }
                                                    @if (Tender[i].SynopsisStatus == "")
                                                    {
                                                        <td><span>-</span></td>

                                                    }
                                                    else
                                                    {
                                                        <td>@Tender[i].SynopsisStatus</td>

                                                    }

                                                    <td>@Tender[i].Status</td>
                                                    @using (Html.BeginForm("TenderDetails", "Admin"))
                                                    {

                                                        <td>
                                                            <button class="btn btn-primary txt-light" asp-controller="Admin" asp-action="TenderDetails" asp-route-ID="@Tender[i].TenderID">View</button>

                                                        </td>
                                                    }
                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                @*<a asp-action="Reports" class="btn btn-primary pull-left mt-10">View Reports</a>*@

                <a asp-action="AddTender" class="btn btn-success pull-right mt-10 tenderwrite">Add New Tender</a>

                @for (var i = 0; i < Permission.Count; i++)
                {
                    if (Permission[i].ModuleName == "Tenders" && Permission[i].Permission == "Write")
                    {

                    }
                }


            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<style>
    .datepicker {
        top: 330px !important;
    }
</style>
@section Scripts{
    <script type="text/javascript">
        function PrintTable() {
            var printWindow = window.open('', '', 'height=200,width=400');
            printWindow.document.write('<html><head><title>Table Contents</title>');

            var table_style = document.getElementById("table_style").innerHTML;
            printWindow.document.write('<style type = "text/css">');
            printWindow.document.write(table_style);
            printWindow.document.write('</style>');
            printWindow.document.write('</head>');

            printWindow.document.write('<body>');
            var divContents = document.getElementById("dvContents").innerHTML;
            printWindow.document.write(divContents);
            printWindow.document.write('</body>');

            printWindow.document.write('</html>');
            printWindow.document.close();
            printWindow.print();
        }
    </script>


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            //endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        $(document).ready(function () {
              $("#reset").click(function () {

                 location.href = '@Url.Action("Tenders", "Admin")';

             });
           @*@for (var i = 0; i < Permission.Count; i++)
           {
               if (Permission[i].ModuleName == "Tenders" && Permission[i].Permission == "Write")
               {
               }
               else
               {
                                       $(".cmanager").show();

                   //$(".tenderwrite").hide();
                   //document.getElementsByClassName('tenderwrite')[0].style.visibility = 'hidden';

               }
           }*@
            $('#example6').DataTable({
                "iDisplayLength": 10,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        footer: false,
                        orientation: 'landscape',

                        exportOptions: {
                            columns: [0, 1,2,3,4,5,6,7,8,9,10,11,12]
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                        }
                    },

                    {
                        extend: 'copyHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                        }
                    }

                ]
            });

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Error!',
                        text: 'Record Already Exists!.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }


            if ("@TempData["Message"]" == "Success"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Success',
                        text: 'Record Added Successfully!.',
                        position: 'bottom-right',
                        loaderBg: 'green',
                        icon: 'success',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }





       });
    </script>

}