﻿@using Microsoft.Extensions.Options

@inject UserManager<ApplicationUser> UserManager;
@inject PMS.Services.AdminAccess AdminAccess;
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Users";
}



<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Users</h6>

                </div>

                <div class="clearfix"></div>
                @*<div class="pull-right">

                        <a asp-action="CreateProject" class="btn  btn-primary btn-rounded">Create Project</a>
                    </div>
                    <div class="clearfix"></div>*@

            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table id="example6" class="table table-hover display  pb-30">
                                    <thead>
                                        <tr style="background-color: lightgray;">
                                            <th>Name</th>
                                            <th>Email ID</th>
                                            <th>Mobile No</th>
                                            <th>Department</th>
                                            @*<th>Department</th>*@

                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr style="background-color: lightgray;">
                                            <th>Name</th>
                                            <th>Email ID</th>
                                            <th>Mobile No</th>
                                            <th>Department</th>
                                            @*<th>Department</th>*@

                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            var Users = ViewBag.Users;

                                            for (int i = 0; i < Users.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@Users[i].FirstName</td>
                                                    <td>@Users[i].Email</td>
                                                    <td>@Users[i].PhoneNumber</td>
                                                    <td>@Users[i].LastName</td>

                                                    @*<td>@Users[i].Department</td>*@

                                                    @using (Html.BeginForm("ViewUser", "Admin"))
                                                    {

                                                        <td>
                                                            <button class="btn btn-primary txt-light" asp-controller="Admin" asp-action="ViewUser" asp-route-ID="@Users[i].Id">View</button>

                                                        </td>
                                                    }
                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                @*<a asp-action="Reports" class="btn btn-primary pull-left mt-10">View Reports</a>*@
                <a asp-action="AddEmployee" class="btn btn-success pull-right mt-10">Add New User</a>

          
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

@section Scripts{

    <script>
        $(document).ready(function () {

            $('#example6').DataTable({
                "iDisplayLength": 10,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        footer: false,

                        exportOptions: {
                            columns: [0, 1,2,3,4]
                        }
                    },

                    {
                        extend: 'excelHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },

                    {
                        extend: 'copyHtml5',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    }

                ]
            });

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Error!',
                        text: 'Record Already Exists!.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }


            if ("@TempData["Message"]" == "Success"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Success',
                        text: 'Record Added Successfully!.',
                        position: 'bottom-right',
                        loaderBg: 'green',
                        icon: 'success',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }


 

   
       });
    </script>

}