﻿@using Microsoft.Extensions.Options
@model PMS.Models.Tender
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View Query";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">View Query - Tender</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="UpdateQuery" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input hidden name="QID" value="@ViewBag.Query[0].Id" />
                            <input hidden name="TenderID" value="@ViewBag.Query[0].TenderID" />

                            @{var TenderNo = @ViewBag.Query[0].TenderNo;
                                var TenderRef = @ViewBag.Query[0].TenderRef;
                                var Article = @ViewBag.Query[0].Article;
                                var ArticleNo = @ViewBag.Query[0].ArticleNo;
                                var TenderCondition = @ViewBag.Query[0].TenderCondition;
                                var VCSQuery = @ViewBag.Query[0].VCSQuery;
                                var customerR = @ViewBag.Query[0].CustomerResponse;
                                var customerD = @ViewBag.Query[0].CustomerResponseDoc;
                                var File = @ViewBag.Query[0].Content;


                            }
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Tender No</label>
                                            <textarea rows="2" name="TenderNo" readonly type="text" class="form-control" placeholder="Enter Tender Documents">@TenderNo</textarea>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Tender Ref</label>
                                            <textarea rows="2" readonly name="TenderDocuments" type="text" class="form-control" placeholder="Enter Tender Ref">@TenderRef</textarea>

                                        </div>
                                    </div>



                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Article</label>
                                            <textarea id="Remarks"  name="Remarks" readonly value="@Article'" type="text" class="form-control" placeholder="Enter Remarks">@Article</textarea>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">ArticleNo</label>
                                            <textarea id="Remarks" rows="3" name="Remarks" readonly value="@ArticleNo" type="text" class="form-control" placeholder="Enter Remarks">@ArticleNo</textarea>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Tender Condition</label>
                                            <textarea id="Remarks" rows="3" name="Remarks" readonly value="@TenderCondition" type="text" class="form-control" placeholder="Enter Remarks">@TenderCondition</textarea>

                                        </div>
                                    </div>





                                    <div class="col-md-4">
                                        <label class="control-label mb-10">VCS Query</label>
                                        <textarea id="Remarks" rows="3" name="Remarks" readonly value="@VCSQuery" type="text" class="form-control" placeholder="Enter Remarks">@VCSQuery</textarea>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (ViewBag.RoleName == "Tender")
                                            {
                                                <div class="col-md-4">
                                                    <label class="control-label mb-10">Customer Response</label>
                                                    <textarea id="Remarks" rows="3" name="customerResponse" value="@VCSQuery" type="text" class="form-control" placeholder="Enter Remarks">@customerR</textarea>

                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label mb-10">Upload File</label>

                                                    <div class="fileupload btn btn-warning btn-anim btn-block">
                                                        <i class="fa fa-upload"></i><span class="btn-text">Browse file</span>
                                                        <input type="file" class="upload" name="doc">
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-4" style="display:none">
                                                    <label class="control-label mb-10">Customer Response</label>
                                                    <textarea id="Remarks" rows="3" name="customerResponse" value="@VCSQuery" type="text" class="form-control" placeholder="Enter Remarks">@customerR</textarea>

                                                </div>
                                                <div class="col-md-4" style="display:none">
                                                    <label class="control-label mb-10">Upload File</label>

                                                    <div class="fileupload btn btn-warning btn-anim btn-block">
                                                        <i class="fa fa-upload"></i><span class="btn-text">Browse file</span>
                                                        <input type="file" class="upload" name="doc">
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-md-4">
                                                <label class="control-label mb-10">To Be Clarified Date</label>
                                                <div class="input-group date" id="CompletedByDateDiv">
                                                    @if (ViewBag.Query[0].ClarifiedDate == "01/01/1900")
                                                    {
                                                        <input required type="text" class="form-control ro" name="Date" placeholder="Select Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                                    }
                                                    else
                                                    {
                                                        <input required type="text" class="form-control ro" name="Date" value="@ViewBag.Query[0].ClarifiedDate" placeholder="Select Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>

                                                    }
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    @if (@ViewBag.Query[0].Content.Contains("pdf"))
                                    {
                                        <div class="col-md-12 mt-10 mb-50" style="height:500px">
                                            <label class="control-label mb-10">Uploaded File </label>
                                            <iframe id="pfile" src="https://sakhaivstaging.blob.core.windows.net/pms/@ViewBag.Query[0].Content" type="application/pdf" frameborder="0" height="100%" width="100%">
                                            </iframe>
                                        </div>
                                    }
                                    else if (@ViewBag.Query[0].Content!="-")
                                    {
                                        <div class="col-md-12 mt-10">
                                            <label class="control-label mb-10">Uploaded File </label>
                                            <iframe id="pfile" src="https://sakhaivstaging.blob.core.windows.net/pms/@ViewBag.Query[0].Content" type="application/pdf" frameborder="0" height="100%" width="100%">
                                            </iframe>
                                        </div>
                                    }





                                </div>


                            </div>








                            <div class="col-md-12" id="submitButton">

                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Update</button>
                                <button type="button" data-toggle="modal" data-target="#responsive-modal" class="btn btn-danger pull-right mr-5 ml-5">Delete</button>

                                <a asp-controller="Admin" asp-action="TenderDetails" asp-route-ID="@ViewBag.Query[0].TenderID" class="btn btn-danger pull-left">Back</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->


<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the query!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteQuery" asp-route-ID="@ViewBag.Query[0].Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<style>

</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('#CompletedByDateDiv').datepicker({
            format: "dd/mm/yyyy",
            startDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });
        $('#CompletedByDateDiv2').datepicker({
            format: "dd/mm/yyyy",
            startDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {

                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#cheklistStatus").change(function () {
                var cheklistStatus = document.getElementById("cheklistStatus").value;
                if (cheklistStatus == "To Be Revised") {
                    $("#AddChecklist").show();
                } else {
                    $("#AddChecklist").hide();


                }


            });

            $("#add-more").click(function () {

                var CriteriaCategory = document.getElementById("CriteriaCategory").value;
                var Criteria = document.getElementById("Criteria").value;
                var WeightageMarks = document.getElementById("WeightageMarks").value;
                var VCSScore = document.getElementById("VCSScore").value;
                var Satisfied = document.getElementById("Satisfied").value;
                var Remark = document.getElementById("ERemark").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (CriteriaCategory != "" && Criteria != "" && WeightageMarks != "" && VCSScore != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='CriteriaCategory[]' value='" + CriteriaCategory + "'>" + CriteriaCategory + "</td>";
                        eTable += "<td><input type='hidden' name='Criteria[]' value='" + Criteria + "'>" + Criteria + "</td>";
                        eTable += "<td><input type='hidden' name='WeightageMarks[]' value='" + WeightageMarks + "'>" + WeightageMarks + "</td>";
                        eTable += "<td><input type='hidden' name='VCSScore[]' value='" + VCSScore + "'>" + VCSScore + "</td>";
                        eTable += "<td><input type='hidden' name='Satisfied[]' value='" + Satisfied + "'>" + Satisfied + "</td>";
                        eTable += "<td><input type='hidden' name='Remark[]' value='" + Remark + "'>" + Remark + "</td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#Approval").change(function () {
                if ($("#Approval option:selected").text() == "Yes") {
                    $(".cmanager").show();
                } else {
                    $(".cmanager").hide();

                }
            });

            $("#AddApproval").change(function () {
                if ($("#AddApproval option:selected").text() == "Yes") {
                    $(".acmanager").show();
                } else {
                    $(".acmanager").hide();

                }
            });

            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });





    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}