﻿@using Microsoft.Extensions.Options
@model PMS.Models.Tender
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View Checklist";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">View Checklist - Tender</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="UpdateChecklistDetails" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input hidden name="CID" value="@ViewBag.CheckList[0].Id" />
                            <input hidden name="TenderID" value="@ViewBag.CheckList[0].TenderID" />

                            @{var Stage = @ViewBag.CheckList[0].Stage;
                                var TenderDocuments = @ViewBag.CheckList[0].TenderDocuments;
                                var ResponsiblePerson = @ViewBag.CheckList[0].ResponsiblePerson;
                                var Remarks = @ViewBag.CheckList[0].Remark;
                                var App = @ViewBag.CheckList[0].Approval;
                                var Manager = @ViewBag.CheckList[0].ManagerID;
                                var Status = @ViewBag.CheckList[0].Status;
                                var RemarksByP = @ViewBag.CheckList[0].RemarksByP;
                                var RemarksByM = @ViewBag.CheckList[0].RemarksByM;

                                var CheckListUser = ViewBag.CheckListUser;
                                var CheckListManager = ViewBag.CheckListManager;


                            }
                        <div class="form-group">
                            @if (Status == "To Be Revised")
                            {

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Stage</label>
                                            <select readonly class="form-control" data-style="form-control btn-default btn-outline" name="Stage" id="Stage" asp-for="@Stage">
                                                <option selected value="">Select One</option>

                                                <option value="Pre-Bid">Pre-Bid</option>
                                                <option value="Post-Bid">Post-Bid</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Details</label>
                                            <textarea readonly rows="2" name="TenderDocuments" type="text" class="form-control" placeholder="Enter Tender Documents">@TenderDocuments</textarea>

                                        </div>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Remarks</label>
                                            <input readonly id="Remarks" name="Remarks" value="@Remarks" type="text" class="form-control" placeholder="Enter Remarks">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Responsible Person</label>
                                            <select readonly name=Role class="form-control" id="RoleList" asp-for="@ResponsiblePerson">
                                                <option value="" disabled selected>Select Responsbile Person</option>
                                                @for (var i = 0; i < CheckListUser.Count; i++)
                                                {
                                                    <option value="@CheckListUser[i].Id">@CheckListUser[i].Department - @CheckListUser[i].FirstName  @CheckListUser[i].LastName </option>

                                                }

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">To Be Completed By Date</label>
                                            &nbsp;&nbsp;<span asp-validation-for="WeightageMarks" class="text-danger"></span>
                                            <div class="input-group date" id="CompletedByDateDiv">
                                                <input readonly type="text" value="@ViewBag.CheckList[0].CompletedByDate" class="form-control" id="CompletedByDate" placeholder="Select Completed By Date" name="CompletedByDate"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">HOD Approval</label>
                                            <select readonly name=Approval class="form-control" id="Approval" asp-for="@App">
                                                <option value="" disabled selected>Select Approval</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>


                                            </select>
                                        </div>
                                    </div>


                                    @if (@App == "Yes")
                                    {
                                        <div class="col-md-3 cmanager">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Select Manager</label>
                                                <select readonly name=Manager class="form-control" id="RoleList" asp-for="@Manager">
                                                    <option value="" disabled selected>Select Manager</option>
                                                    @for (var i = 0; i < CheckListManager.Count; i++)
                                                    {
                                                        <option value="@CheckListManager[i].Id">@CheckListManager[i].Department - @CheckListManager[i].FirstName  @CheckListManager[i].LastName </option>

                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="col-md-3 cmanager" style="display:none;">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Select Manager</label>
                                                <select readonly name=Manager class="form-control" id="RoleList">
                                                    <option value="" disabled selected>Select Manager</option>
                                                    @for (var i = 0; i < CheckListManager.Count; i++)
                                                    {
                                                        <option value="@CheckListManager[i].Id">@CheckListManager[i].Department - @CheckListManager[i].FirstName  @CheckListManager[i].LastName </option>

                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    }



                                    <div class="col-md-3">
                                        <label class="control-label mb-10">Status</label>
                                        <select readonly class="form-control" required data-style="form-control btn-default btn-outline" name="Status" asp-for="@Status" id="cheklistStatus">
                                            <option value="Req-Submitted">Req-Submitted</option>
                                            <option value="DD/Cheque Ready">DD/Cheque Ready</option>
                                            <option value="Comm Working In Progress">Comm Working In Progress</option>
                                            <option value="Tech Working In Progress">Tech Working In Progress</option>
                                            <option value="To Be Revised">To Be Revised</option>

                                        </select>

                                    </div>
                                    @*<div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label mb-10">Update File</label>

                            <div class="fileupload btn btn-warning btn-anim btn-block">
                                <i class="fa fa-upload"></i><span class="btn-text">Browse file</span>
                                <input type="file" class="upload" name="doc">
                            </div>
                        </div>
                    </div>


                </div>*@
                                    @if (@ViewBag.CheckList[0].Content.Contains("pdf"))
                                    {
                                        <div class="col-md-12 mt-10 mb-50" style="height:500px">
                                            <label class="control-label mb-10">Uploaded File </label>
                                            <iframe id="pfile" src="https://sakhaivstaging.blob.core.windows.net/pms/@ViewBag.CheckList[0].Content" type="application/pdf" frameborder="0" height="100%" width="100%">
                                            </iframe>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12 mt-10">
                                            <label class="control-label mb-10">Uploaded File </label>
                                            <iframe id="pfile" src="https://sakhaivstaging.blob.core.windows.net/pms/@ViewBag.CheckList[0].Content" type="application/pdf" frameborder="0" height="100%" width="100%">
                                            </iframe>
                                        </div>
                                    }





                                </div>
                            }
                            else
                            {

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Stage</label>
                                            <select class="form-control" data-style="form-control btn-default btn-outline" name="Stage" id="Stage" asp-for="@Stage">
                                                <option selected value="">Select One</option>

                                                <option value="Pre-Bid">Pre-Bid</option>
                                                <option value="Post-Bid">Post-Bid</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Details</label>
                                            <textarea rows="2" name="TenderDocuments" type="text" class="form-control" placeholder="Enter Tender Documents">@TenderDocuments</textarea>

                                        </div>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Remarks</label>
                                            <input id="Remarks" name="Remarks" value="@Remarks" type="text" class="form-control" placeholder="Enter Remarks">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Responsible Person</label>
                                            <select name=Role class="form-control" id="RoleList" asp-for="@ResponsiblePerson">
                                                <option value="" disabled selected>Select Responsbile Person</option>
                                                @for (var i = 0; i < CheckListUser.Count; i++)
                                                {
                                                    <option value="@CheckListUser[i].Id">@CheckListUser[i].Department - @CheckListUser[i].FirstName  @CheckListUser[i].LastName </option>

                                                }

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">To Be Completed By Date</label>
                                            &nbsp;&nbsp;<span asp-validation-for="WeightageMarks" class="text-danger"></span>
                                            <div class="input-group date" id="CompletedByDateDiv">
                                                <input type="text" value="@ViewBag.CheckList[0].CompletedByDate" class="form-control" id="CompletedByDate" placeholder="Select Completed By Date" name="CompletedByDate"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label mb-10">HOD Approval</label>
                                            <select name=Approval class="form-control" id="Approval" asp-for="@App">
                                                <option value="" disabled selected>Select Approval</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>


                                            </select>
                                        </div>
                                    </div>


                                    @if (@App == "Yes")
                                    {
                                        <div class="col-md-3 cmanager">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Select Manager</label>
                                                <select name=Manager class="form-control" id="RoleList" asp-for="@Manager">
                                                    <option value="" disabled selected>Select Manager</option>
                                                    @for (var i = 0; i < CheckListManager.Count; i++)
                                                    {
                                                        <option value="@CheckListManager[i].Id">@CheckListManager[i].Department - @CheckListManager[i].FirstName  @CheckListManager[i].LastName </option>

                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="col-md-3 cmanager" style="display:none;">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Select Manager</label>
                                                <select name=Manager class="form-control" id="RoleList">
                                                    <option value="" disabled selected>Select Manager</option>
                                                    @for (var i = 0; i < CheckListManager.Count; i++)
                                                    {
                                                        <option value="@CheckListManager[i].Id">@CheckListManager[i].Department - @CheckListManager[i].FirstName  @CheckListManager[i].LastName </option>

                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    }



                                    <div class="col-md-3">
                                        <label class="control-label mb-10">Status</label>
                                        <select class="form-control" required data-style="form-control btn-default btn-outline" name="Status" asp-for="@Status" id="cheklistStatus">
                                            <option value="Req-Submitted">Req-Submitted</option>
                                            <option value="DD/Cheque Ready">DD/Cheque Ready</option>
                                            <option value="Comm Working In Progress">Comm Working In Progress</option>
                                            <option value="Tech Working In Progress">Tech Working In Progress</option>
                                            <option value="To Be Revised">To Be Revised</option>

                                        </select>

                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Remark By Responsible Person</label>
                                            <textarea id="Remarks" name="RemarksByP" value="@RemarksByP" type="text" class="form-control" placeholder="Enter Remarks">@RemarksByP</textarea>

                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Remark By Manager</label>
                                            <textarea id="Remarks" name="RemarksByM" value="@RemarksByM" type="text" class="form-control" placeholder="Enter Remarks">@RemarksByM</textarea>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label mb-10">Update File</label>

                                            <div class="fileupload btn btn-warning btn-anim btn-block">
                                                <i class="fa fa-upload"></i><span class="btn-text">Browse file</span>
                                                <input type="file" class="upload" name="doc">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                @if (@ViewBag.CheckList[0].Content.Contains("pdf"))
                                {
                                    <div class="col-md-12 mt-10 mb-50" style="height:500px">
                                        <label class="control-label mb-10">Uploaded File </label>
                                        <iframe id="pfile" src="https://sakhaivstaging.blob.core.windows.net/pms/@ViewBag.CheckList[0].Content" type="application/pdf" frameborder="0" height="100%" width="100%">
                                        </iframe>
                                    </div>
                                }
                                else if (@ViewBag.CheckList[0].Content == "")
                                {
                                   
                                }
                                else
                                {

                                    <div class="col-md-12 mt-10">
                                        <label class="control-label mb-10">Uploaded File </label>
                                        <iframe id="pfile" src="https://sakhaivstaging.blob.core.windows.net/pms/@ViewBag.CheckList[0].Content" type="application/pdf" frameborder="0" height="100%" width="100%">
                                        </iframe>
                                    </div>
                                }






                            }

                        </div>







                            <div id="AddChecklist" style="display:none">
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <div class="alert-text">
                                        As you’ve selected revised status, system will create new checklist against the same point
                                    </div>

                                 
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Stage</label>
                                                <select class="form-control" data-style="form-control btn-default btn-outline" name="AddStage" id="Stage" asp-for="@Stage">
                                                    <option selected value="">Select One</option>

                                                    <option value="Pre-Bid">Pre-Bid</option>
                                                    <option value="Post-Bid">Post-Bid</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Details</label>
                                                <textarea rows="2" name="AddTenderDocuments" type="text" class="form-control" placeholder="Enter Tender Documents">@TenderDocuments</textarea>

                                            </div>
                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Remarks</label>
                                                <input id="Remarks" name="AddRemarks" value="@Remarks" type="text" class="form-control" placeholder="Enter Remarks">

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Responsible Person</label>
                                                <select name=AddRole class="form-control" id="RoleList" asp-for="@ResponsiblePerson">
                                                    <option value="" disabled selected>Select Responsbile Person</option>
                                                    @for (var i = 0; i < CheckListUser.Count; i++)
                                                    {
                                                        <option value="@CheckListUser[i].Id">@CheckListUser[i].Department - @CheckListUser[i].FirstName  @CheckListUser[i].LastName </option>

                                                    }

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label mb-10">To Be Completed By Date</label>
                                                &nbsp;&nbsp;<span asp-validation-for="WeightageMarks" class="text-danger"></span>
                                                <div class="input-group date" id="CompletedByDateDiv2">
                                                    <input type="text" value="@ViewBag.CheckList[0].CompletedByDate" class="form-control" id="CompletedByDate" placeholder="Select Completed By Date" name="AddCompletedByDate"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label mb-10">HOD Approval</label>
                                                <select name=AddApproval class="form-control" id="AddApproval" asp-for="@App">
                                                    <option value="" disabled selected>Select Approval</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>


                                                </select>
                                            </div>
                                        </div>


                                        @if (@App == "Yes")
                                        {
                                            <div class="col-md-3 acmanager">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Select Manager</label>
                                                    <select name=AddManager class="form-control" id="RoleList" asp-for="@Manager">
                                                        <option value="" disabled selected>Select Manager</option>
                                                        @for (var i = 0; i < CheckListManager.Count; i++)
                                                        {
                                                            <option value="@CheckListManager[i].Id">@CheckListManager[i].Department - @CheckListManager[i].FirstName  @CheckListManager[i].LastName </option>

                                                        }

                                                    </select>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="col-md-3 acmanager" style="display:none;">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Select Manager</label>
                                                    <select name=AddManager class="form-control" id="RoleList">
                                                        <option value="" disabled selected>Select Manager</option>
                                                        @for (var i = 0; i < CheckListManager.Count; i++)
                                                        {
                                                            <option value="@CheckListManager[i].Id">@CheckListManager[i].Department - @CheckListManager[i].FirstName  @CheckListManager[i].LastName </option>

                                                        }

                                                    </select>
                                                </div>
                                            </div>
                                        }

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label mb-10">Status</label>
                                                <select class="form-control" required data-style="form-control btn-default btn-outline" name="AddStatus" asp-for="@Status" id="cheklistStatus">
                                                    <option value="Req-Submitted">Req-Submitted</option>
                                                    <option value="DD/Cheque Ready">DD/Cheque Ready</option>
                                                    <option value="Comm Working In Progress">Comm Working In Progress</option>
                                                    <option value="Tech Working In Progress">Tech Working In Progress</option>

                                                </select>
                                            </div>
                                        </div>





                                    </div>


                                </div>






                            </div>

                            <div class="col-md-12" id="submitButton">

                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Update</button>
                                <button type="button" data-toggle="modal" data-target="#responsive-modal" class="btn btn-danger pull-right mr-5 ml-5">Delete</button>

                                <a asp-controller="Admin" asp-action="TenderDetails" asp-route-ID="@ViewBag.Checklist[0].TenderID" class="btn btn-danger pull-left">Back</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->


<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the checklist!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteChecklist" asp-route-ID="@ViewBag.CheckList[0].Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<style>

</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('#CompletedByDateDiv').datepicker({
            format: "dd/mm/yyyy",
            startDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });
        $('#CompletedByDateDiv2').datepicker({
            format: "dd/mm/yyyy",
            startDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {

                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#cheklistStatus").change(function () {
                var cheklistStatus = document.getElementById("cheklistStatus").value;
                if (cheklistStatus == "To Be Revised") {
                    $("#AddChecklist").show();
                } else {
                    $("#AddChecklist").hide();


                }


            });

            $("#add-more").click(function () {

                var CriteriaCategory = document.getElementById("CriteriaCategory").value;
                var Criteria = document.getElementById("Criteria").value;
                var WeightageMarks = document.getElementById("WeightageMarks").value;
                var VCSScore = document.getElementById("VCSScore").value;
                var Satisfied = document.getElementById("Satisfied").value;
                var Remark = document.getElementById("ERemark").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (CriteriaCategory != "" && Criteria != "" && WeightageMarks != "" && VCSScore != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='CriteriaCategory[]' value='" + CriteriaCategory + "'>" + CriteriaCategory + "</td>";
                        eTable += "<td><input type='hidden' name='Criteria[]' value='" + Criteria + "'>" + Criteria + "</td>";
                        eTable += "<td><input type='hidden' name='WeightageMarks[]' value='" + WeightageMarks + "'>" + WeightageMarks + "</td>";
                        eTable += "<td><input type='hidden' name='VCSScore[]' value='" + VCSScore + "'>" + VCSScore + "</td>";
                        eTable += "<td><input type='hidden' name='Satisfied[]' value='" + Satisfied + "'>" + Satisfied + "</td>";
                        eTable += "<td><input type='hidden' name='Remark[]' value='" + Remark + "'>" + Remark + "</td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#Approval").change(function () {
                if ($("#Approval option:selected").text() == "Yes") {
                    $(".cmanager").show();
                } else {
                    $(".cmanager").hide();

                }
            });

            $("#AddApproval").change(function () {
                if ($("#AddApproval option:selected").text() == "Yes") {
                    $(".acmanager").show();
                } else {
                    $(".acmanager").hide();

                }
            });

            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });





    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}