﻿@using Microsoft.Extensions.Options
@model PMS.Models.Locations
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View - Location";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">View Location</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Type</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Type" class="text-danger"></span>
                                    <input id="Type" readonly asp-for="Type" name="Type" type="text" class="form-control" value="@ViewBag.Locations[0].Type">

                                </div>
                            </div>
                            <div class="col-md-4 cname" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label mb-10">Country Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="CountryName" readonly asp-for="CountryName" name="CountryName" type="text" class="form-control" value="@ViewBag.Locations[0].CountryName">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">State Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="StateName" class="text-danger"></span>
                                    <input id="StateName" readonly asp-for="StateName" name="StateName" type="text" class="form-control" placeholder="Enter State Name" value="@ViewBag.Locations[0].StateName">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Sector Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="SectorName" class="text-danger"></span>
                                    <input id="SectorName" readonly asp-for="SectorName" name="SectorName" type="text" class="form-control" placeholder="Enter Sector Name" value="@ViewBag.Locations[0].SectorName">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Name</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <input id="LocationName" readonly asp-for="Name" name="LocationName" type="text" class="form-control" placeholder="Enter Location Name" value="@ViewBag.Locations[0].Name">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Category</label>
                                    &nbsp;&nbsp;<span asp-validation-for="CategoryName" class="text-danger"></span>
                                    <input id="LocationName" readonly asp-for="Name" name="LocationName" type="text" class="form-control" placeholder="Enter Location Name" value="@ViewBag.Locations[0].CategoryName">

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Tour Type</label>
                                    &nbsp;&nbsp;<span asp-validation-for="TourType" class="text-danger"></span>
                                    <input id="TourType" readonly asp-for="Name" name="TourType" type="text" class="form-control" placeholder="Enter TourType " value="@ViewBag.Locations[0].TourType">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Minimum Stay Require</label>
                                    <input id="MinStay" readonly asp-for="MinStay" name="MinStay" type="number" step="any" class="form-control" placeholder="Enter Min Stay Require" value="@ViewBag.Locations[0].MinStay">
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label mb-10">Location Information</label>
                                    &nbsp;&nbsp;<span asp-validation-for="Name" class="text-danger"></span>
                                    <textarea readonly id="LocationInfo" name="LocationInfo" type="text" class="form-control">@ViewBag.Locations[0].LocationInfo</textarea>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Connected Destination Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>





                            <div class="col-md-12" id="add_more_table" >
                                <table class="table table-hover" id="add_table">
                                    <thead>
                                        <tr>
                                       
                                            <th scope="col">Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                        </tr>
                                    </thead>
                                    <tbody class="note">
                                        @{
                                            var ConnectedD = ViewBag.ConnectedD;

                                            for (int i = 0; i < @ConnectedD.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@ConnectedD[i].DestinationName</td>
                                                    <td>@ConnectedD[i].CategoryName</td>
                                                    <td>@ConnectedD[i].RoadD</td>

                                                    <td>@ConnectedD[i].JourneyHR</td>



                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5> Must Seen Sight Seen Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg2" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12" id="add_more_table2" >
                                <table class="table table-hover" id="add_table2">
                                    <thead>
                                        <tr>
                                     
                                            <th scope="col">Name</th>
                                            <th scope="col">Information</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                            @*<th scope="col">Photo</th>

                                                <th scope="col">Video</th>*@

                                        </tr>
                                    </thead>
                                    <tbody class="note2">
                                        @{
                                            var MSight = ViewBag.MSight;

                                            for (int i = 0; i < @ConnectedD.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@MSight[i].Name</td>
                                                    <td>@MSight[i].Information</td>
                                                    <td>@MSight[i].RoadD</td>

                                                    <td>@MSight[i].JourneyHR</td>



                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!---->

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Optional Sight Seen Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg3" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>





                            <div class="col-md-12" id="add_more_table3" >
                                <table class="table table-hover" id="add_table3">
                                    <thead>
                                        <tr>
                                     
                                            <th scope="col">Name</th>
                                            <th scope="col">Information</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                            @*<th scope="col">Photo</th>

                                                <th scope="col">Video</th>*@

                                        </tr>
                                    </thead>
                                    <tbody class="note3">
                                        @{
                                            var OSight = ViewBag.OSight;

                                            for (int i = 0; i < @OSight.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@OSight[i].Name</td>
                                                    <td>@OSight[i].Information</td>
                                                    <td>@OSight[i].RoadD</td>

                                                    <td>@OSight[i].JourneyHR</td>



                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>




                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="page-header">
                                        <h5>Excursion Sight Seen Details</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" id="ErrorMsg4" style="display: none;">
                                        <div class="alert-text">Please enter all fields</div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12" id="add_more_table4">
                                <table class="table table-hover" id="add_table4">
                                    <thead>
                                        <tr>
                                       
                                            <th scope="col">Name</th>
                                            <th scope="col">Information</th>
                                            <th scope="col">Road KM</th>
                                            <th scope="col">Journey HR</th>
                                            @*<th scope="col">Photo</th>

                                                <th scope="col">Video</th>*@

                                        </tr>
                                    </thead>
                                    <tbody class="note4">
                                        @{
                                            var ESight = ViewBag.ESight;

                                            for (int i = 0; i < @ESight.Count; i++)
                                            {
                                                var counter = 0;
                                                counter = @i + 1;

                                                <tr>
                                                    <td>@ESight[i].Name</td>
                                                    <td>@ESight[i].Information</td>
                                                    <td>@ESight[i].RoadD</td>

                                                    <td>@ESight[i].JourneyHR</td>



                                                </tr>
                                            }


                                        }
                                    </tbody>
                                </table>
                            </div>


                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="button" class="btn btn-danger pull-right mr-5" data-toggle="modal" data-target="#responsive-modal4">Delete Location Details</button>

                                <a asp-controller="Admin" asp-action="Locations" class="btn btn-warning pull-left">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<div id="responsive-modal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the location details!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteLocation" asp-route-ID="@ViewBag.Locations[0].LocID" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {
            $(".delete-row").click(function () {

                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var DestinationName = document.getElementById("DestinationName").value;
                var DestCat = document.getElementById("DestCat").value;
                var ORoadKM = document.getElementById("ORoadKM").value;
                var OJourneyHR = document.getElementById("OJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='DestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='DestCat[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ORoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });





    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}