﻿@using Microsoft.Extensions.Options
@model Employee
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View Department";
}

@{

    var RoleID = ViewBag.RoleName;
}


<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Edit Department</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <form method="post" asp-action="UpdateRole" asp-controller="Admin">
                            <div class="form-group">
                                <label class="control-label mb-10" for="email_de">Department Name :</label>
                                <input asp-for="FirstName" name="RoleName"  class="form-control" value="@ViewBag.Name" required>
                            </div>
                            <input hidden name="RoleID" value=@ViewBag.RoleID />

                            @*<div class="form-group">
                                <label class="control-label mb-10" for="email_de">Department :</label>
                                <input  readonly asp-for="Department" class="form-control" value="@ViewBag.Department" required>
                            </div>*@

                        <div class="form-group mb-0">
                            <button class="btn btn-success pull-right">Update</button>

                            @{
                                if (ViewBag.DeleteFlag != "")
                                {
                                    <button type="button" id="@ViewBag.ID" class="btn btn-danger pull-right mr-2 ml-2" data-toggle="modal" data-target="#responsive-modal77">Delete Department</button>

                                }
                                else
                                {

                                }

                            }

                            <a asp-controller="Admin" asp-action="Roles" class="btn btn-danger pull-left">Cancel</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Row -->

<div id="responsive-modal77" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the department!</span>
            </div>
            <div class="modal-footer foot">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteDepartment" asp-route-ID="@ViewBag.ID" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Welcome to Admintres',
                        text: 'Use the predefined ones, or specify a custom position object.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }
       });
    </script>

}