﻿@using Microsoft.Extensions.Options
@model PMS.Models.Tender
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View Evalaution";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">

            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">View Evaluation - Tender</h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form method="POST" asp-action="UpdateEvaluationDetails" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input hidden name="EID" value="@ViewBag.Evaluation[0].Id" />
                            <input hidden name="TenderID" value="@ViewBag.Evaluation[0].TenderID" />
                            @{ var CC = @ViewBag.Evaluation[0].CriteriaCategory; }

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Criteria Category</label>
                                        &nbsp;&nbsp;<span asp-validation-for="CriteriaCategory" class="text-danger"></span>
                                        <select class="form-control" required data-style="form-control btn-default btn-outline" name="CriteriaCategory" id="CriteriaCategory" asp-for="@CC">

                                            <option value="Technical">Technical</option>
                                            <option value="Financial">Financial</option>
                                            <option value="Other">Other</option>

                                        </select>
                                    </div>
                                </div>


                                @if (@ViewBag.Evaluation[0].CriteriaCategory == "Other")
                                {
                                    <div class="col-md-4" id="OtherDiv">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Please Specify Other Category</label>
                                            &nbsp;&nbsp;<span class="text-danger"></span>
                                            <textarea rows="2" id="Other" name="Other" class="form-control" placeholder="Enter Other Category Details">@ViewBag.Evaluation[0].AnyOther</textarea>

                                        </div>
                                    </div>
                                }


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Criteria</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Criteria" class="text-danger"></span>
                                        <textarea rows="3" id="Criteria" name="Criteria" type="text" class="form-control" placeholder="Enter Criteria">@ViewBag.Evaluation[0].CriteriaCategory</textarea>

                                    </div>
                                </div>

                            </div>
                            <div class="row">


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Weightage Marks</label>
                                        &nbsp;&nbsp;<span asp-validation-for="WeightageMarks" class="text-danger"></span>
                                        <input id="WeightageMarks" asp-for="WeightageMarks" value="@ViewBag.Evaluation[0].WeightageMarks" name="WeightageMarks" type="text" class="form-control" placeholder="Enter Weightage Marks">

                                    </div>
                                </div>




                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">VCS Score</label>
                                        &nbsp;&nbsp;<span asp-validation-for="VCSScore" class="text-danger"></span>
                                        <input id="VCSScore" asp-for="VCSScore" value="@ViewBag.Evaluation[0].VCSScore" name="VCSScore" type="text" class="form-control" placeholder="Enter VCS Score">

                                    </div>
                                </div>
                                @{ var Satisfied = ViewBag.Evaluation[0].VCSSatisfied;}
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">VCS Criteria Satisfied (Y/N)</label>
                                        <select class="selectpicker" required data-style="form-control btn-default btn-outline" id="Satisfied" name="Satisfied" asp-for="@Satisfied">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Remark</label>
                                        &nbsp;&nbsp;<span asp-validation-for="Remark" class="text-danger"></span>
                                        <textarea id="ERemark" name="Remark" rows="3" type="text" class="form-control" placeholder="Enter Remark">@ViewBag.Evaluation[0].Remark</textarea>

                                    </div>
                                </div>
                            </div>






                            <div class="col-md-12 mt-10" id="submitButton">
                                <button type="submit" class="btn btn-success pull-right" OnClientClick="this.disabled='true';return true;">Update</button>

                                <button type="button" data-toggle="modal" data-target="#responsive-modal" class="btn btn-danger pull-right mr-5 ml-5">Delete</button>


                                <a asp-controller="Admin" asp-action="TenderDetails" asp-route-ID="@ViewBag.Evaluation[0].TenderID" class="btn btn-danger pull-left">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->


<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the evaluation!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteEvaluation" asp-route-ID="@ViewBag.Evaluation[0].Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<style>
    .datepicker {
        top: 400px !important;
    }
</style>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            //endDate: "+0d",
            autoclose: true,
            todayHighlight: true
        });

        function allowOnlyNumber(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>


    <script>

        $(document).ready(function () {

            $("#CriteriaCategory").change(function () {
                var CriteriaCategory = document.getElementById("CriteriaCategory").value;
                if (CriteriaCategory == "Other") {
                    $("#OtherDiv").show();
                } else {
                    $("#OtherDiv").hide();

                }

            });
            $(".delete-row").click(function () {

                $("table tbody.note tr input:checked").parents('tr').remove();

            });

            $(".delete-row2").click(function () {

                $("table tbody.note2 tr input:checked").parents('tr').remove();

            });

            $(".delete-row3").click(function () {

                $("table tbody.note3 tr input:checked").parents('tr').remove();

            });


            $(".delete-row4").click(function () {

                $("table tbody.note4 tr input:checked").parents('tr').remove();

            });

            $("#Type").change(function () {
                var Type = document.getElementById("Type").value;
                if (Type == "International") {
                    $(".cname").show();
                } else {
                    $(".cname").hide();


                }


            });

            $("#add-more").click(function () {

                var CriteriaCategory = document.getElementById("CriteriaCategory").value;
                var Criteria = document.getElementById("Criteria").value;
                var WeightageMarks = document.getElementById("WeightageMarks").value;
                var VCSScore = document.getElementById("VCSScore").value;
                var Satisfied = document.getElementById("Satisfied").value;
                var Remark = document.getElementById("ERemark").value;


                var isAddable = 1;
                $("table tbody.note").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (CriteriaCategory != "" && Criteria != "" && WeightageMarks != "" && VCSScore != "") {
                        $("#add_more_table").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='CriteriaCategory[]' value='" + CriteriaCategory + "'>" + CriteriaCategory + "</td>";
                        eTable += "<td><input type='hidden' name='Criteria[]' value='" + Criteria + "'>" + Criteria + "</td>";
                        eTable += "<td><input type='hidden' name='WeightageMarks[]' value='" + WeightageMarks + "'>" + WeightageMarks + "</td>";
                        eTable += "<td><input type='hidden' name='VCSScore[]' value='" + VCSScore + "'>" + VCSScore + "</td>";
                        eTable += "<td><input type='hidden' name='Satisfied[]' value='" + Satisfied + "'>" + Satisfied + "</td>";
                        eTable += "<td><input type='hidden' name='Remark[]' value='" + Remark + "'>" + Remark + "</td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note").append(eTable);



                    }
                    else {
                        $("#ErrorMsg").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more2").click(function () {

                var DestinationName = document.getElementById("MDestinationName").value;
                var DestCat = document.getElementById("MInformation").value;
                var ORoadKM = document.getElementById("MRoadKM").value;
                var OJourneyHR = document.getElementById("MJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note2").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table2").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='MDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='MInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='MRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='MJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='MPhoto[]'></td>";
                        eTable += "<td><input type='file' name='MVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note2").append(eTable);



                    }
                    else {
                        $("#ErrorMsg2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg2").slideUp(5000);

                        });
                        return false;
                    }
                }

            });

            $("#add-more3").click(function () {

                var DestinationName = document.getElementById("OpDestinationName").value;
                var DestCat = document.getElementById("OpInformation").value;
                var ORoadKM = document.getElementById("OpRoadKM").value;
                var OJourneyHR = document.getElementById("OpJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note3").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table3").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='OpDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='OpInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='OpRoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='OpJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='OpPhoto[]'></td>";
                        eTable += "<td><input type='file' name='OpVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note3").append(eTable);



                    }
                    else {
                        $("#ErrorMsg3").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg3").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#add-more4").click(function () {

                var DestinationName = document.getElementById("EDestinationName").value;
                var DestCat = document.getElementById("EInformation").value;
                var ORoadKM = document.getElementById("ERoadKM").value;
                var OJourneyHR = document.getElementById("EJourneyHR").value;


                var isAddable = 1;
                $("table tbody.note4").find('tr').each(function () {
                    var $tds = $(this).find('input');


                });

                if (isAddable == 1) {

                    if (DestinationName != "" && DestCat != "" && ORoadKM != "" && OJourneyHR != "") {
                        $("#add_more_table4").css("display", "block");
                        var eTable = '';

                        //eTable1 += "<h3>Internship Details</h3>";

                        eTable += "<tr>";
                        eTable += "<td><center><input type='checkbox' name='record'></center></td>";
                        eTable += "<td><input type='hidden' name='EDestinationName[]' value='" + DestinationName + "'>" + DestinationName + "</td>";
                        eTable += "<td><input type='hidden' name='EInformation[]' value='" + DestCat + "'>" + DestCat + "</td>";
                        eTable += "<td><input type='hidden' name='ERoadKM[]' value='" + ORoadKM + "'>" + ORoadKM + "</td>";
                        eTable += "<td><input type='hidden' name='EJourneyHR[]' value='" + OJourneyHR + "'>" + OJourneyHR + "</td>";
                        eTable += "<td><input type='file' name='EPhoto[]'></td>";
                        eTable += "<td><input type='file' name='EVideo[]'></td>";

                        eTable += " </tr>";


                        $("#submitButton").css("display", "block");
                        $("table tbody.note4").append(eTable);



                    }
                    else {
                        $("#ErrorMsg4").fadeTo(5000, 500).slideUp(500, function () {
                            $("#ErrorMsg4").slideUp(5000);

                        });
                        return false;
                    }
                }

            });


            $("#InvoiceNumber").change(function () {
                var InV = document.getElementById("InvoiceNumber").value;


                //if (SelectIndustry.length >= 5) {
                $.getJSON('/Admin/GetPurchaseInvoice', { InV: InV, }, function (response) {
                    var IsActive = parseInt(response.invoiceNumber);
                    if (IsActive == 1) {
                        $("#blankField2").fadeTo(5000, 500).slideUp(500, function () {
                            $("#blankField2").slideUp(5000);
                        });
                    }


                })
            });
        });





    </script>


    <script>
        if (("@TempData["Message"]" != null))
        {
            $(".close").fadeTo(5000, 500).slideUp(500, function () {
                    $(".close").slideUp(5000);
                });

        }
    </script>
}