﻿@using Microsoft.Extensions.Options
@model Employee
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "View Profile";
}

@{
    var Roles = ViewBag.Roles;
    var RoleID = ViewBag.RoleName;
    var Tenders = "";
    var Users = "";
    var Departments = "";
    var Basic = "";
    var BEC = "";
    var ProjectDocs = "";
    var ProjectFile = "";
    var Evaluation = "";

    var Other = "";
    var SOR = "";
    var SWOT = "";
    var Synopsis = "";
    var Queries = "";
    var Checklist = "";
    var Commercial = "";
    var Post = "";
    var UserAccess = "";
    var Communication = "";
    var Meeting = "";
    var ManagementApprovedSOR = "";
    var PostA = "";
}


<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">View Profile</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <form method="post" asp-action="" asp-controller="Admin">
                        <input hidden name="employeeID" value="@ViewBag.Id"/>

                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">First Name :</label>
                                        <input asp-for="FirstName" readonly class="form-control ro" value="@ViewBag.FirstName" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Last Name :</label>
                                        <input asp-for="LastName" readonly class="form-control ro" value="@ViewBag.LastName" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Email :</label>
                                        <input asp-for="Email" readonly type="email" class="form-control ro" value="@ViewBag.Email" required>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Phone Number :</label>
                                        <input asp-for="PhoneNumber" readonly type="number" value="@ViewBag.PhoneNumber" class="form-control ro" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">

                                        <label class="control-label mb-10" for="email_de">Role :</label>
                                        @{ var RoleN = @ViewBag.RoleName;
                                            var RoleT = @ViewBag.Type;}
                                        <input readonly class="form-control ro" value="@ViewBag.RoleName" required>


                                    </div>
                                    @if(RoleN != "Admin" && RoleN != "Management") { 
                                        <div class="col-md-3 typeDIV">

                                            <label class="control-label mb-10" for="email_de">Type :</label>
                                            <input readonly class="form-control ro" value="@ViewBag.Type" required>

                                        </div>
                                    }
                                </div>




                                <div class="col-md-12">
                                    <strong><span class="text-center mt-20" style="display:block;color:black;"><u>Main Menu Access</u></span></strong>
                                </div>
                                <div class="col-md-12" id="add_more_table">
                                    <table class="table table-hover" id="add_table">
                                        <thead>
                                            <tr>


                                                <th scope="col"><strong>MODULE</strong></th>


                                                <th scope="col"><strong>Read / Write Access</strong></th>

                                                @*<th scope="col">Write Access</th>*@

                                            </tr>
                                        </thead>
                                        <tbody class="note">
                                            @if (ViewBag.ModuleList.Count > 0)
                                            {
                                                Tenders = ViewBag.ModuleList[0].Permission;
                                                Users = ViewBag.ModuleList[1].Permission;
                                                ProjectFile = ViewBag.ModuleList[2].Permission;


                                                Departments = ViewBag.ModuleList[3].Permission;
                                                Basic = ViewBag.ModuleList[4].Permission;
                                                BEC = ViewBag.ModuleList[5].Permission;
                                                Evaluation = ViewBag.ModuleList[6].Permission;

                                                ProjectDocs = ViewBag.ModuleList[7].Permission;
                                                Other = ViewBag.ModuleList[8].Permission;
                                                SWOT = ViewBag.ModuleList[9].Permission;
                                                Synopsis = ViewBag.ModuleList[10].Permission;


                                                SOR = ViewBag.ModuleList[11].Permission;
                                                ManagementApprovedSOR = ViewBag.ModuleList[12].Permission;
                                                Commercial = ViewBag.ModuleList[13].Permission;
                                                Checklist = ViewBag.ModuleList[14].Permission;

                                                Queries = ViewBag.ModuleList[15].Permission;
                                                Post = ViewBag.ModuleList[16].Permission;
                                                UserAccess = ViewBag.ModuleList[17].Permission;
                                                Communication = ViewBag.ModuleList[18].Permission;
                                                Meeting = ViewBag.ModuleList[19].Permission;
                                                PostA = ViewBag.ModuleList[20].Permission;
                                            }




                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Tenders" /></td>

                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Tenders" />

                                                </td>
                                            </tr>
                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Users" /></td>

                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Users" />

                                                </td>
                                            </tr>

                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Project File Archive" /></td>

                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@ProjectFile" />

                                                </td>
                                            </tr>


                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Departments" /></td>

                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Departments" />

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="col-md-12">
                                                        <strong><span class="text-center mt-20" style="display:block"><u>Tab Access</u></span></strong>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="font-size: 12px; color: #272B34;">


                                                <th scope="col"><strong>MODULE</strong></th>


                                                <th scope="col"><strong>READ / WRITE ACCESS</strong></th>

                                            </tr>
                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Basic Information" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Basic" />
                                                </td>



                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="BEC" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@BEC" />

                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Evaluation" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Evaluation" />

                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Project Docs" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@ProjectDocs" />

                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Other Information" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Other" />

                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="SWOT" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@SWOT" />

                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Synopsis" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Synopsis" />

                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="SOR" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@SOR" />

                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Management Approved SOR" /></td>
                                                <td>
                                                    <input class="form-control" readonly name="txt_note[]" value="@ManagementApprovedSOR" />

                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Commercial Docs" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Commercial" />

                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Checklist" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Checklist" />

                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Queries" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Queries" />

                                                </td>

                                            </tr>


                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Post Bid Queries" /></td>
                                                <td>
                                                    <input class="form-control" readonly name="txt_note[]" value="@Post" />

                                                </td>

                                            </tr>
                                          
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="User Access" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@UserAccess" />

                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Communication" /></td>
                                                <td>
                                                    <input class="form-control" readonly name="txt_note[]" value="@Communication" />


                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Meeting" /></td>
                                                <td>

                                                    <input class="form-control" readonly name="txt_note[]" value="@Meeting" />

                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Post Award Analysis" /></td>
                                                <td>
                                                    <input class="form-control" readonly name="txt_note[]" value="@PostA" />

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>

     
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="responsive-modal77" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the user!</span>
            </div>
            <div class="modal-footer foot">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteUser" asp-route-ID="@ViewBag.Id" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<!-- /Row -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#RoleList").on('change', function () {
                var RoleListText = $("#RoleList option:selected").text();
                if (RoleListText == "Admin" || RoleListText == "Management") {
                    $("#TypeList").val("Management");
                    $(".typeDIV").hide();

                } else {
                    $("#TypeList").val("");

                    $(".typeDIV").show();

                }

            });

            $(".ebtn").on('click', function () {
                $(".ro").attr("readonly", false);
                $(".ro").attr("disabled", false);

                $(".ro").show();
                $(".glyphicon").show();

                $(".ebtn").hide();

            });

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Welcome to Admintres',
                        text: 'Use the predefined ones, or specify a custom position object.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }
       });
    </script>

}