﻿@using Microsoft.Extensions.Options
@model Employee
@{
    Layout = "~/Views/Shared/_Layout_dashboard.cshtml";
}

@{
    ViewData["Title"] = "Edit User";
}

@{
    var Roles = ViewBag.Roles;

    var RoleID = ViewBag.RoleName;
    var Tenders = "";
    var Users = "";
    var Departments = "";
    var Basic = "";
    var BEC = "";
    var ProjectDocs = "";
    var Evaluation = "";
    var ProjectFile = "";
    var Other = "";
    var SOR = "";
    var SWOT = "";
    var Synopsis = "";
    var Queries = "";
    var Checklist = "";
    var Commercial = "";
    var Post = "";
    var UserAccess = "";
    var Communication = "";
    var Meeting = "";
    var ManagementApprovedSOR = "";
    var PostA = "";
}


<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Edit User</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <form method="post" asp-action="UpdateEmployee" asp-controller="Admin">
                        <input hidden name="employeeID" value="@ViewBag.Id"/>

                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">First Name :</label>
                                        <input asp-for="FirstName" readonly class="form-control ro" value="@ViewBag.FirstName" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Last Name :</label>
                                        <input asp-for="LastName" readonly class="form-control ro" value="@ViewBag.LastName" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Email :</label>
                                        <input asp-for="Email" readonly type="email" class="form-control ro" value="@ViewBag.Email" required>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label mb-10" for="email_de">Phone Number :</label>
                                        <input asp-for="PhoneNumber" readonly type="number" value="@ViewBag.PhoneNumber" class="form-control ro" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">

                                        <label class="control-label mb-10" for="email_de">Role :</label>
                                        @{ var RoleN = @ViewBag.RoleName;
                                            var RoleT = @ViewBag.Type;}
                                        <select name=Role disabled class="form-control ro" required id="RoleList" asp-for="@RoleN">
                                            <option value="" disabled selected>Select Department</option>
                                            @for (var i = 0; i < @Roles.Count; i++)
                                            {
                                                <option value="@Roles[i].FirstName">@Roles[i].FirstName</option>

                                            }

                                        </select>

                                    </div>
                                    @if (RoleN != "Admin" && RoleN != "Management")
                                    {
                                        <div class="col-md-3 typeDIV">

                                            <label class="control-label mb-10" for="email_de">Type :</label>
                                            <select disabled name=Type class="form-control ro" id="TypeList" asp-for="@RoleT">
                                                <option value="" disabled selected>Select One</option>

                                                <option value="User">User</option>
                                                <option value="Manager">Manager</option>

                                            </select>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3 typeDIV" style="display:none;">

                                            <label class="control-label mb-10" for="email_de">Type :</label>
                                            <select disabled name=Type class="form-control ro" id="TypeList" asp-for="@RoleT">
                                                <option value="" disabled selected>Select One</option>

                                                <option value="User">User</option>
                                                <option value="Manager">Manager</option>

                                            </select>
                                        </div>

                                    }
                                </div>




                                <div class="col-md-12">
                                    <strong><span class="text-center mt-20" style="display:block;color:black;"><u>Main Menu Access</u></span></strong>
                                </div>
                                <div class="col-md-12" id="add_more_table">
                                    <table class="table table-hover" id="add_table">
                                        <thead>
                                            <tr>


                                                <th scope="col"><strong>MODULE</strong></th>


                                                <th scope="col"><strong>Read / Write Access</strong></th>

                                                @*<th scope="col">Write Access</th>*@

                                            </tr>
                                        </thead>
                                        <tbody class="note">
                                            @if (ViewBag.ModuleList.Count > 0)
                                            {
                                                Tenders = ViewBag.ModuleList[0].Permission;
                                                Users = ViewBag.ModuleList[1].Permission;
                                                ProjectFile = ViewBag.ModuleList[2].Permission;


                                                Departments = ViewBag.ModuleList[3].Permission;
                                                Basic = ViewBag.ModuleList[4].Permission;
                                                BEC = ViewBag.ModuleList[5].Permission;
                                                Evaluation = ViewBag.ModuleList[6].Permission;

                                                ProjectDocs = ViewBag.ModuleList[7].Permission;
                                                Other = ViewBag.ModuleList[8].Permission;
                                                SWOT = ViewBag.ModuleList[9].Permission;
                                                Synopsis = ViewBag.ModuleList[10].Permission;


                                                SOR = ViewBag.ModuleList[11].Permission;
                                                ManagementApprovedSOR = ViewBag.ModuleList[12].Permission;
                                                Commercial = ViewBag.ModuleList[13].Permission;
                                                Checklist = ViewBag.ModuleList[14].Permission;

                                                Queries = ViewBag.ModuleList[15].Permission;
                                                Post = ViewBag.ModuleList[16].Permission;
                                                UserAccess = ViewBag.ModuleList[17].Permission;
                                                Communication = ViewBag.ModuleList[18].Permission;
                                                Meeting = ViewBag.ModuleList[19].Permission;
                                                PostA = ViewBag.ModuleList[20].Permission;

                                            }




                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Tenders" /></td>

                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Tenders" required asp-for="@Tenders">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Users" /></td>

                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Users" required asp-for="@Users">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Project File Archive" /></td>

                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="ProjectFile" required asp-for="@ProjectFile">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Departments" /></td>

                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Departments" required asp-for="@Departments">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="col-md-12">
                                                        <strong><span class="text-center mt-20" style="display:block"><u>Tab Access</u></span></strong>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="font-size: 12px; color: #272B34;">


                                                <th scope="col"><strong>MODULE</strong></th>


                                                <th scope="col"><strong>READ / WRITE ACCESS</strong></th>

                                            </tr>
                                            <tr>

                                                <td><input class="form-control" readonly name="txt_note[]" value="Basic Information" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Basic">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>



                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="BEC" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@BEC">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Evaluation" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Evaluation">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Project Docs" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@ProjectDocs">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Other Information" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Other">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="SWOT" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@SWOT">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Synopsis" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Synopsis">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="SOR" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" asp-for="@SOR">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Management Approved SOR" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" asp-for="@ManagementApprovedSOR">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Commercial Docs" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Commercial">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Checklist" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Checklist">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Queries" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Queries">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>


                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Post Bid Queries" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Post">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            @*<tr>
            <td><input class="form-control" readonly name="txt_note[]" value="Post Bid Docs" /></td>
            <td>
                <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@PostDocs">
                    <option value="" disabled selected>Select One</option>

                    <option value="Read">Read</option>
                    <option value="Write">Write</option>
                    <option value="Denied">Denied</option>

                </select>
            </td>

        </tr>*@
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="User Access" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@UserAccess">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Communication" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Communication">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Meeting" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@Meeting">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" readonly name="txt_note[]" value="Post Award Analysis" /></td>
                                                <td>
                                                    <select name="txt_note2[]" class="form-control" id="Access" required asp-for="@PostA">
                                                        <option value="" disabled selected>Select One</option>

                                                        <option value="Read">Read</option>
                                                        <option value="Write">Write</option>
                                                        <option value="Denied">Denied</option>

                                                    </select>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>

     
                            <div class="form-group mb-0 mt-5">
                                <button type="button" class="btn ebtn pull-right btn-primary mr-5 ml-5">Edit</button>
                                <button type="submit" class="btn btn-success pull-right ro" style="display:none" OnClientClick="this.disabled='true';return true;">Update</button>

                                <button type="button" id="@ViewBag.ID" class="btn btn-danger pull-right mr-5 ml-5" data-toggle="modal" data-target="#responsive-modal77">Delete User</button>

                                <a asp-controller="Admin" asp-action="Users" class="btn btn-danger pull-left">Cancel</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="responsive-modal77" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                <span class="text-lg-center">This will delete the user!</span>
            </div>
            <div class="modal-footer foot">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-action="DeleteUser" asp-route-ID="@ViewBag.Id" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<!-- /Row -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#RoleList").on('change', function () {
                var RoleListText = $("#RoleList option:selected").text();
                if (RoleListText == "Admin" || RoleListText == "Management") {
                    $("#TypeList").val("Management");
                    $(".typeDIV").hide();

                } else {
                    $("#TypeList").val("");

                    $(".typeDIV").show();

                }

            });

            $(".ebtn").on('click', function () {
                $(".ro").attr("readonly", false);
                $(".ro").attr("disabled", false);

                $(".ro").show();
                $(".glyphicon").show();

                $(".ebtn").hide();

            });

            if ("@TempData["Message"]" == "Failed"){
                window.setTimeout(function () {
                    $.toast({
                        heading: 'Welcome to Admintres',
                        text: 'Use the predefined ones, or specify a custom position object.',
                        position: 'bottom-right',
                        loaderBg: '#e8af48',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }, 3000);
            }
       });
    </script>

}