﻿@using Microsoft.Extensions.Options
@inject PMS.Services.AdminAccess AdminAccess;
@*@inject UserManager<ApplicationUser> UserManager;
    @inject PMS.Services.AdminAccess AdminAccess;*@
@{var Permission = AdminAccess.GetAdminAccess();}
@inject PMS.Services.Notifications Notifications;

@{var notificationList = Notifications.GetCustomiseNotifications();}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VCS</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    @*<link href="..     vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Toast CSS -->
    <link href="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- Data table CSS -->
    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    @* <link href="~/vendors/bower_components/datatables.net-responsive/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css"/>
    *@
    <!-- bootstrap-select CSS -->
    <link href="~/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />

    <!-- Morris Charts CSS -->
    <link href="~/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css" />

    <!-- Chartist CSS -->
    <link href="~/vendors/bower_components/chartist/dist/chartist.min.css" rel="stylesheet" type="text/css" />


    <!-- vector map CSS -->
    <link href="~/vendors/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/main/dist/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Dropify CSS -->
    <link href="~/vendors/bower_components/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
    <style>


        .container {
            max-width: 1860px !important;
        }

        hr {
            border-top: 1px solid #0092ee !important;
        }

        table {
            color: black;
        }

        .nav-pills > li > a {
            color: black;
            font-weight: 500;
        }

        .control-label {
            color: black;
            font-weight: 500;
        }

     
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!-- /Preloader -->
    <div class="wrapper theme-2-active navbar-top-light horizontal-nav">
        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="nav-wrap">
                <div class="mobile-only-brand pull-left">
                    <div class="nav-header pull-left">
                        <div class="logo-wrap">
                            <a href="#">
                                <img class="brand-img" src="~/img/brand.png" alt="brand" style="height: 50px;" />
                                <span class="brand-text"><img src="~/img/brand.png" alt="brand" style="height: 50px;" /></span>
                            </a>
                        </div>
                    </div>
                    <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="ti-align-left"></i></a>
                    @* <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a> *@
                    <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="ti-more"></i></a>

                </div>
                <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                    <ul class="nav navbar-right top-nav pull-right">

                        <li class="dropdown alert-drp">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-bell top-nav-icon"></i><span class="top-nav-icon-badge ncount">@notificationList.Count</span></a>
                            <ul class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">

                                @{
                                    <li class="snotify" style="display:none;">
                                        <div class="notification-box-head-wrap">
                                            <span class="notification-box-head pull-left inline-block">
                                                You're All Caught Up!
                                                @*Notifications*@
                                            </span>
                                            @*<a class="txt-danger pull-right clear-notifications inline-block" href="javascript:void(0)"> clear all </a>*@
                                            <div class="clearfix"></div>
                                            @*<hr class="light-grey-hr ma-0" />*@
                                        </div>
                                    </li>
                                    @if (notificationList.Count == 0)
                                    {
                                        <li>
                                            <div class="notification-box-head-wrap">
                                                <span class="notification-box-head pull-left inline-block">
                                                    You're All Caught Up!
                                                    @*Notifications*@
                                                </span>
                                                @*<a class="txt-danger pull-right clear-notifications inline-block" href="javascript:void(0)"> clear all </a>*@
                                                <div class="clearfix"></div>
                                                @*<hr class="light-grey-hr ma-0" />*@
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="hnotify">
                                            <div class="notification-box-head-wrap">
                                                <span class="notification-box-head pull-left inline-block">
                                                    @*You're All Caught Up!*@
                                                    Notifications
                                                </span>
                                                <button class="txt-danger pull-right clear-notifications inline-block nread" style="background:none;border:none;" href="javascript:void(0)">Clear All </button>
                                                <div class="clearfix"></div>
                                                <hr class="light-grey-hr ma-0" />
                                            </div>
                                        </li>
                                        for (var i = 0; i < notificationList.Count; i++)
                                        {
                                            <li class="hnotify">
                                                <div class="streamline" style="height:auto !important">
                                                    <div class="sl-item">
                                                        <a href="/Admin/@notificationList[i].Link">
                                                            @*<div class="icon bg-green">
                                                                    <i class="ti-briefcase "></i>
                                                                </div>*@
                                                            <div class="sl-content ml-0">
                                                                <span class="inline-block capitalize-font  pull-left truncate head-notifications">
                                                                    Tender Notification
                                                                </span>
                                                                <span class="inline-block font-11  pull-right notifications-time">@notificationList[i].CreatedDate</span>
                                                                <div class="clearfix"></div>
                                                                <p class="truncate">@notificationList[i].Notification</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <hr class="light-grey-hr ma-0" />

                                                </div>
                                            </li>
                                        }

                                    }

                                }

                            </ul>
                        </li>
                        <li class="dropdown auth-drp">
                            <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="~/img/user.jpg" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
                            <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                                <li>
                                    <a asp-action="ViewProfile"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
                                </li>

                                <li>
                                    <a asp-action="SignOut" asp-controller="Auth"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /Top Menu Items -->
        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left" style="background-color:black !important">
            <ul class="nav navbar-nav side-nav nicescroll-bar" style="background-color:black;">
                <li class="navigation-header">
                    <span>Main</span>
                    <hr />
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Dashboard" style="color:white !important"><div class="pull-left"><i class=" ti-layout-grid2 mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Dashboard</span></div><div class="clearfix"></div></a>

                </li>

                <li class="TenderMain">
                    <a asp-action="Tenders" style="color:white !important"><div class="pull-left"><i class="icon-notebook mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Tenders</span></div><div class="clearfix"></div></a>
                </li>

                <li class="ProjectFileMain">
                    <a asp-action="SOR" style="color:white !important"><div class="pull-left"><i class="icon-drawar mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Project File Archive</span></div><div class="clearfix"></div></a>
                </li>


                <li class="UsersMain">
                    <a asp-action="Users" style="color:white !important"><div class="pull-left"><i class="icon-people mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Users</span></div><div class="clearfix"></div></a>
                </li>


                <li class="DepartmentsMain">
                    <a asp-action="Roles" style="color:white !important"><div class="pull-left"><i class="icon-layers mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Departments</span></div><div class="clearfix"></div></a>
                </li>






                @*<li>
                        <a href="#"><div class="pull-left" style="color:white !important"><i class="icon-book-open mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Reports</span></div><div class="clearfix"></div></a>
                    </li>*@





                @*<li>
                        <a href="#"><div class="pull-left" style="color:white !important"><i class="icon-settings mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Masters</span></div><div class="clearfix"></div></a>
                    </li>*@

                <!--<li>
                <a href="javascript:void(0);" style="color:white !important" data-toggle="collapse" data-target="#app_dr"><div class="pull-left"><i class="icon-settings mr-20" style="color:#2aaee3"></i><span class="right-nav-text">Masters </span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
                <ul id="app_dr" class="collapse collapse-level-1">
                    <li>
                        <a asp-action="Locations">Locations</a>
                    </li>-->
                @*<li>
                        <a href="#">Itinerary</a>
                    </li>*@
                @*<li>
                        <a asp-action="VisaAssistance">Visa</a>
                    </li>
                    <li>
                        <a asp-action="Hotels">Hotels</a>
                    </li>
                    <li>
                        <a asp-action="DMC">DMC</a>
                    </li>*@


                <!--</ul>
                </li>-->

            </ul>
        </div>
        <!-- /Left Sidebar Menu -->
        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container pt-30">
                @RenderBody()
            </div>

            <!-- Footer -->
            <footer class="footer pl-30 pr-30" style="color:white; background-color:black;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>
                                &copy; 2021, VCS
                                @*<br /> Designed and Developed By <a style="all:unset !important; color:white !important; cursor:pointer !important" href="https://www.ingeniouscope.com" target="_blank">Ingeniouscope</a></p>*@
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /Footer -->

        </div>
        <!-- /Main Content -->

    </div>

    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/bower_components/editable-table/mindmup-editabletable.js"></script>
    <script src="~/vendors/bower_components/editable-table/numeric-input-example.js"></script>
    <script src="~/main/dist/js/editable-table-data.js"></script>

    <script src="~/main/dist/js/dataTables-data.js"></script>
    <!-- Slimscroll JavaScript -->
    <script src="~/main/dist/js/jquery.slimscroll.js"></script>

    <!-- Progressbar Animation JavaScript -->
    <script src="~/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/main/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Sparkline JavaScript -->
    <script src="~/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

    <!-- Owl JavaScript -->
    <script src="~/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Switchery JavaScript -->
    <script src="~/vendors/bower_components/switchery/dist/switchery.min.js"></script>

    <!-- Vector Maps JavaScript -->
    <script src="~/vendors/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/vendors/vectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/vendors/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/main/dist/js/vectormap-data.js"></script>

    <!-- Toast JavaScript -->
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- Piety JavaScript -->
    <script src="~/vendors/bower_components/peity/jquery.peity.min.js"></script>
    <script src="~/main/dist/js/peity-data.js"></script>

    <!-- Chartist JavaScript -->
    <script src="~/vendors/bower_components/chartist/dist/chartist.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="~/vendors/bower_components/morris.js/morris.min.js"></script>
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- ChartJS JavaScript -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>

    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/html2canvas_invoice.js"></script>

    <!-- Bootstrap Select JavaScript -->
    <script src="~/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/main/dist/js/dataTables-data.js"></script>

    @* <script src="~/vendors/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/main/dist/js/responsive-datatable-data.js"></script>
    *@
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <script src="~/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/bower_components/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/main/dist/js/export-table-data.js"></script>

    <!-- Init JavaScript -->
    <script src="~/main/dist/js/init.js"></script>
    <script src="~/main/dist/js/dashboard-data.js"></script>


    <!-- Bootstrap Daterangepicker JavaScript -->
    <script src="~/vendors/bower_components/dropify/dist/js/dropify.min.js"></script>

    <!-- Form Flie Upload Data JavaScript -->
    <script src="~/main/dist/js/form-file-upload-data.js"></script>


    @for (var i = 0; i < Permission.Count; i++)
    {
        @if (Permission[i].ModuleName == "Basic Information" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.tenderwrite').hide();
                    $('.tenderupdate').hide();
                    $('.tenderedit').hide();



                });
            </script>

        }


        @if (Permission[i].ModuleName == "BEC" && Permission[i].Permission == "Read")
        {

            <script>
                $(document).ready(function () {
                    $('.becwrite').hide();

                });
            </script>
        }

        @if (Permission[i].ModuleName == "Evaluation" && Permission[i].Permission == "Read")
        {

            <script>
                $(document).ready(function () {
                    $('.evaluationwrite').hide();

                });
            </script>
        }




        @if (Permission[i].ModuleName == "Tenders" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.TenderMain').hide();



                });

            </script>

        }
        else
        {


        }


        @if (Permission[i].ModuleName == "Users" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.UsersMain').hide();



                });

            </script>

        }
        else
        {


        }




        @if (Permission[i].ModuleName == "Departments" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.DepartmentsMain').hide();



                });

            </script>

        }
        else
        {


        }


        @if (Permission[i].ModuleName == "Basic Information" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.BasicTab').hide();



                });

            </script>

        }
        else
        {


        }



        @if (Permission[i].ModuleName == "BEC" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.BECTab').hide();



                });

            </script>

        }
        else
        {


        }



        @if (Permission[i].ModuleName == "Evaluation" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.EvaluationTab').hide();



                });

            </script>

        }
        else
        {


        }


        @if (Permission[i].ModuleName == "Project Docs" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.ProjectDocsTab').hide();



                });

            </script>

        }
        else
        {


        }

        @if (Permission[i].ModuleName == "Project Docs" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.docwrite').hide();



                });

            </script>

        }

        @if (Permission[i].ModuleName == "Other Info" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.docwrite').hide();



                });

            </script>

        }


        @if (Permission[i].ModuleName == "Other Info" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.otherwrite').hide();



                });

            </script>

        }


        @if (Permission[i].ModuleName == "SOR" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.SORTab').hide();



                });

            </script>

        }
        else
        {


        }

        @if (Permission[i].ModuleName == "SOR" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.sorwrite').hide();



                });

            </script>

        }

        @if (Permission[i].ModuleName == "Management Approved SOR" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.msorwrite').hide();



                });

            </script>

        }

        @if (Permission[i].ModuleName == "SWOT" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.swotwrite').hide();



                });

            </script>

        }

        @if (Permission[i].ModuleName == "SWOT" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.SWOTTab').hide();



                });

            </script>

        }
        else
        {


        }



        @if (Permission[i].ModuleName == "Synopsis" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    // $('.SynopsisTab').hide();



                });

            </script>

        }

        @if (Permission[i].ModuleName == "Synopsis" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.SynopsisTab').hide();



                });

            </script>

        }



        @if (Permission[i].ModuleName == "Queries" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.QueriesTab').hide();



                });

            </script>

        }



        @if (Permission[i].ModuleName == "Checklist" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.ChecklistTab').hide();



                });

            </script>

        }
        else
        {


        }


        @if (Permission[i].ModuleName == "Checklist" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.checklistwrite').hide();



                });

            </script>

        }


        @if (Permission[i].ModuleName == "Commercial Docs" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.CommercialTab').hide();



                });

            </script>

        }



        @if (Permission[i].ModuleName == "Commercial Docs" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.cdocwrite').hide();



                });

            </script>

        }


        @if (Permission[i].ModuleName == "Post Bid Queries" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.PostBidTab').hide();



                });

            </script>

        }
        else
        {


        }

        @if (Permission[i].ModuleName == "Post Bid Queries" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.pquerieswrite').hide();



                });

            </script>

        }
        else
        {


        }




        @if (Permission[i].ModuleName == "User Access" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.UserAccessTab').hide();



                });

            </script>

        }


        @if (Permission[i].ModuleName == "User Access" && Permission[i].Permission == "Read")
        {
            <script>
                $(document).ready(function () {
                    $('.uaccesswrite').hide();



                });

            </script>

        }


        @if (Permission[i].ModuleName == "Communication" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.CommunicationTab').hide();



                });

            </script>

        }
        else
        {


        }




        @if (Permission[i].ModuleName == "Meeting" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.MeetingTab').hide();



                });

            </script>

        }
        else
        {


        }


        @if (Permission[i].ModuleName == "Mangement Approved SOR" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.MangementSORTab').hide();



                });

            </script>

        }
        else
        {


        }




        @if (Permission[i].ModuleName == "Project File Archive" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.ProjectFileMain').hide();



                });

            </script>

        }
        else
        {


        }


        @if (Permission[i].ModuleName == "Communication" && Permission[i].Permission == "Denied")
        {
            <script>
                $(document).ready(function () {
                    $('.CommunicationTab').hide();



                });

            </script>

        }
        else
        {


        }
    }

    <script>
        $(document).ready(function () {
            $(".nread").click(function () {
                $(".hnotify").hide();
                $(".snotify").show();
                $(".ncount").text("0");

                $.ajax({
                    url: "/Admin/ReadNotification",

                    success: function (result) {



                    }
                })
            });

        });


    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
